Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-01, with the labels that each got.

#14 Trial submission CU 1/02
  data-forecasts/CU-ensemble/2022-01-10-CU-ensemble.csv
  data-forecasts/CU-ensemble/metadata-CU-ensemble.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#21 JHUAPL-Gecko - First flusight forecasts.
  data-forecasts/JHUAPL-Gecko/2022-01-10-JHUAPL-Gecko.csv
  data-forecasts/JHUAPL-Gecko/LICENSE.txt
  data-forecasts/JHUAPL-Gecko/metadata-JHUAPL-Gecko.txt
Labels: data-submission, metadata-change, new-team-submission, other-files-updated, passed-validation

#22 Submit forecasts for SGroup-SIkJalpha
  data-forecasts/SGroup-SIkJalpha/2022-01-10-SGroup-SIkJalpha.csv
  data-forecasts/SGroup-SIkJalpha/metadata-SGroup-SIkJalpha.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#26 Los Alamos - NAU team forecast submission 1-10-2022
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-01-10-LosAlamos_NAU-CModel_Flu.csv
  data-forecasts/LosAlamos_NAU-CModel_Flu/metadata-LosAlamos_NAU-CModel_Flu.txt
  data-forecasts/metadata-LosAlamos_NAU-CModel_Flu.txt
Labels: data-submission, metadata-change, new-team-submission, other-files-updated, passed-validation

#27 Removed extraneous files
  data-forecasts/LUcompUncertLab-TEVA/2022-01-10-LUcompUncertLab-TEVA.csv
  data-forecasts/LUcompUncertLab-TEVA/metadata-LUcompUncertLab-TEVA.txt
  data-forecasts/LUcompUncertLab-VAR2/2022-01-10-LUcompUncertLab-VAR2.csv
  data-forecasts/LUcompUncertLab-VAR2/metadata-LUcompUncertLab-VAR2.txt
  data-forecasts/LUcompUncertLab-VAR2K/2022-01-10-LUcompUncertLab-VAR2K.csv
  data-forecasts/LUcompUncertLab-VAR2K/metadata-LUcompUncertLab-VAR2K.txt
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-01-10-LUcompUncertLab-VAR2K_plusCOVID.csv
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/metadata-LUcompUncertLab-VAR2K_plusCOVID.txt
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-01-10-LUcompUncertLab-VAR2_plusCOVID.csv
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/metadata-LUcompUncertLab-VAR2_plusCOVID.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#28 SigSci 2022-01-10 forecast submission (SigSci-CREG and SigSci-TSENS)
  data-forecasts/SigSci-CREG/2022-01-10-SigSci-CREG.csv
  data-forecasts/SigSci-CREG/metadata-SigSci-CREG.txt
  data-forecasts/SigSci-TSENS/2022-01-10-SigSci-TSENS.csv
  data-forecasts/SigSci-TSENS/metadata-SigSci-TSENS.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#29 PSI-DICE initial submission
  data-forecasts/PSI-DICE/2022-01-10-PSI-DICE.csv
  data-forecasts/PSI-DICE/LICENSE-PSI.txt
  data-forecasts/PSI-DICE/metadata-PSI-DICE.txt
Labels: data-submission, metadata-change, new-team-submission, other-files-updated, passed-validation

#30 CMU-TimeSeries forecast submission 2022-01-10
  data-forecasts/CMU-TimeSeries/2022-01-10-CMU-TimeSeries.csv
  data-forecasts/CMU-TimeSeries/metadata-CMU-TimeSeries.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#31 2022-01-10-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-01-10-IEM_Health-FluProject.csv
  data-forecasts/IEM_Health-FluProject/metadata-IEM_Health-FluProject.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#35 UT_FluCast 2022-01-10
  data-forecasts/UT_FluCast-Voltaire/2022-01-10-UT_FluCast-Voltaire.csv
  data-forecasts/UT_FluCast-Voltaire/metadata-UT_FluCast-Voltaire.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#41 VT Model forecasts for 2022-01-10
  data-forecasts/VTSanghani-ExogModel/2022-01-10-VTSanghani-ExogModel.csv
  data-forecasts/VTSanghani-ExogModel/metadata-VTSanghani-ExogModel.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#43 ew01 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-01-10-GT-FluFNP.csv
  data-forecasts/GT-FluFNP/metadata-GT-FluFNP.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#34 UVA model forecasts for 2022-01-10
  data-forecasts/UVAFluX-Ensemble/2022-01-10-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/metadata-UVAFluX-Ensemble.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#25 Add first Flusight-baseline forecast
  data-forecasts/Flusight-baseline/2022-01-10-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/metadata-Flusight-baseline.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#44 2022-01-10-UVAFluX-Ensemble.csv corrected
  data-forecasts/UVAFluX-Ensemble/2022-01-10-UVAFluX-Ensemble.csv
  data-truth/README.md
  data-truth/get_truth.R
Labels: data-submission, forecast-updated, other-files-updated

#47 SGroup-SIkJalpha Forecasts Jan 17
  data-forecasts/SGroup-SIkJalpha/2022-01-17-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#48 2022-01-17-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-01-17-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#49 Pull Request (Try one)
  data-forecasts/LUcompUncertLab-TEVA/2022-01-17-LUcompUncertLab-TEVA.csv
  data-forecasts/LUcompUncertLab-VAR2/2022-01-17-LUcompUncertLab-VAR2.csv
  data-forecasts/LUcompUncertLab-VAR2K/2022-01-17-LUcompUncertLab-VAR2K.csv
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-01-17-LUcompUncertLab-VAR2K_plusCOVID.csv
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-01-17-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#50 Add UMass trends ensemble for 2022-01-17
  data-forecasts/UMass-trends_ensemble/2022-01-17-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/metadata-UMass-trends_ensemble.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#51 CU 1/17
  data-forecasts/CU-ensemble/2022-01-17-CU-ensemble.csv
Labels: data-submission, passed-validation

#52 ew02 GT-FluFNP Submission
  data-forecasts/GT-FluFNP/2022-01-17-GT-FluFNP.csv
Labels: data-submission, passed-validation

#53 New PR
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-01-17-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#55 CMU-TimeSeries 2022-01-17 forecast
  data-forecasts/CMU-TimeSeries/2022-01-17-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#56 UT 01-17 sub
  data-forecasts/UT_FluCast-Voltaire/2022-01-17-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#57 CEID-forecast-2022-01-17
  data-forecasts/CEID-Walk/2022-01-17-CEID-Walk.csv
  data-forecasts/CEID-Walk/metadata-CEID-Walk.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#58 PSI-DICE weekly submission - 17Jan2022
  data-forecasts/PSI-DICE/2022-01-17-PSI-DICE.csv
Labels: data-submission, passed-validation

#61 JHUAPL-GECKO - Updated forecasts.
  data-forecasts/JHUAPL-Gecko/2022-01-17-JHUAPL-Gecko.csv
Labels: data-submission, passed-validation

#62 VT 2022-01-17 predictions
  data-forecasts/VTSanghani-ExogModel/2022-01-17-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#69 2022-10-17 UVA files
  data-forecasts/UVAFluX-Ensemble/2022-01-17-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#70 Create 2022-01-17-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-01-17-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#71 Submitting forecasts for SGroup-SIkJalpha
  data-forecasts/SGroup-SIkJalpha/2022-01-24-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#72 2022-01-24-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2022-01-24-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/metadata-UMass-trends_ensemble.txt
Labels: data-submission, metadata-change, passed-validation

#73 ew03 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-01-24-GT-FluFNP.csv
Labels: data-submission, passed-validation

#78 Create 2022-01-24-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-01-24-Flusight-baseline.csv
Labels: data-submission, passed-validation

#79 2022-01-24-LosAlamos_NAU-CModel_Flu
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-01-24-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#80 cu 1/24
  data-forecasts/CU-ensemble/2022-01-24-CU-ensemble.csv
Labels: data-submission, passed-validation

#81 UT 2022-01-24 Voltaire
  data-forecasts/UT_FluCast-Voltaire/2022-01-24-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#85 Appt #4 With new repo
  data-forecasts/LUcompUncertLab-TEVA/2022-01-24-LUcompUncertLab-TEVA.csv
  data-forecasts/LUcompUncertLab-VAR2/2022-01-24-LUcompUncertLab-VAR2.csv
  data-forecasts/LUcompUncertLab-VAR2K/2022-01-24-LUcompUncertLab-VAR2K.csv
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-01-24-LUcompUncertLab-VAR2K_plusCOVID.csv
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-01-24-LUcompUncertLab-VAR2_plusCOVID.csv
  data-forecasts/LUcompUncertLab-humanjudgement/2022-01-24-LUcompUncertLab-humanjudgment.csv
  data-forecasts/LUcompUncertLab-humanjudgement/metadata-LUcompUncertLab-humanjudgment.txt
Labels: data-submission, other-files-updated, passed-validation

#86 CMU-TimeSeries - Add 2022-01-24 forecasts
  data-forecasts/CMU-TimeSeries/2022-01-24-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#88 2022-01-24-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-01-24-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#91 2022-01-24-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-01-24-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#95 JHUAPL-Gecko - Updated forecasts.
  data-forecasts/JHUAPL-Gecko/2022-01-24-JHUAPL-Gecko.csv
Labels: data-submission, passed-validation

#96 VT 2022-01-24 predictions
  data-forecasts/VTSanghani-ExogModel/2022-01-24-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#98 Upload #3
  data-forecasts/GH-Flusight/2022-01-24-GH-Flusight.csv
  data-forecasts/GH-Flusight/metadata-GH-Flusight.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#100 2022-01-24-flusight-ensemble-merge
  data-forecasts/Flusight-ensemble/2022-01-24-Flusight-ensemble.csv
Labels: data-submission, passed-validation
