Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-10, with the labels that each got.

#631 Create 2022-10-03-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-10-03-Flusight-baseline.csv
Labels: data-submission, passed-validation

#657 2022-10-17-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/2022-10-17-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#655 LU KF
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-10-17-LUcompUncertLab-KalmanFilter.csv
  data-forecasts/LUcompUncertLab-KalmanFilter/metadata-LUcompUncertLab-KalmanFilter.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#654 VT Sanghani Models for 2022-10-17
  data-forecasts/VTSanghani-ExogModel/2022-10-17-VTSanghani-ExogModel.csv
  data-forecasts/VTSanghani-Transformer/2022-10-17-VTSanghani-Transformer.csv
  data-forecasts/VTSanghani-Transformer/metadata-VTSanghani-Transformer.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#651 [CMU-TimeSeries] Add 2022-10-17 predictions
  data-forecasts/CMU-TimeSeries/2022-10-17-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#646 PSI-DICE first submission 2022-2023 season
  data-forecasts/PSI-DICE/2022-10-17-PSI-DICE.csv
Labels: data-submission, passed-validation

#644 CADPH-FluCAT_Ensemble 2022-10-17 Forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2022-10-17-CADPH-FluCAT_Ensemble.csv
  data-forecasts/CADPH-FluCAT_Ensemble/metadata-CADPH-FluCAT_Ensemble.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#642 2022-10-17-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2022-10-17-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#640 ew41 GT-FluFNP
  data-forecasts/GT-FluFNP/2022-10-17-GT-FluFNP.csv
  data-forecasts/GT-FluFNP/metadata-GT-FluFNP.txt
Labels: data-submission, metadata-change, passed-validation

#639 mobs 2022-10-17
  data-forecasts/MOBS-GLEAM_FLUH/2022-10-17-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#638 2022-10-17 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-10-17-SigSci-TSENS.csv
  data-forecasts/SigSci-TSENS/metadata-SigSci-TSENS.txt
Labels: data-submission, metadata-change, passed-validation

#637 CU 10/17
  data-forecasts/CU-ensemble/2022-10-17-CU-ensemble.csv
Labels: data-submission, passed-validation

#636 SGroup-RandomForest submission for Oct 16th, 2022
  data-forecasts/SGroup-RandomForest/2022-10-17-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#658 Create 2022-10-17-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-10-17-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#669 Create 2022-10-24-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-10-24-Flusight-baseline.csv
Labels: data-submission, passed-validation

#659 SGroup-RandomForest submission for Oct 23rd, 2022
  data-forecasts/SGroup-RandomForest/2022-10-24-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#660 LU HWAR2 2022-10-24
  data-forecasts/LUcompUncertLab-HWAR2/2022-10-24-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#661 LU KF 2022-10-24
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-10-24-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#662 LU ensemble 2022-10-24
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-10-24-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#663 LU Hier Mech Model (new) 2022-10-24
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-10-24-LUcompUncertLab-hier_mech_model.csv
  data-forecasts/LUcompUncertLab-hier_mech_model/metadata-LUcompUncertLab-hier_mech_model.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#664 2022-10-24 forecast for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-10-24-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#665 2022-10-24 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-10-24-SigSci-CREG.csv
Labels: data-submission, passed-validation

#666 mobs 2022-10-24
  data-forecasts/MOBS-GLEAM_FLUH/2022-10-24-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#667 Create 2022-10-24-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-10-24-CU-ensemble.csv
Labels: data-submission, passed-validation

#668 PSI-DICE weekly submission - 24 Oct 2022
  data-forecasts/PSI-DICE/2022-10-24-PSI-DICE.csv
Labels: data-submission, passed-validation

#671 2022-10-24-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2022-10-24-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#673 Forecast for week 2: 2022-10-24
  data-forecasts/CADPH-FluCAT_Ensemble/2022-10-24-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#674 [CMU-TimeSeries] Add 2022-10-24 predictions
  data-forecasts/CMU-TimeSeries/2022-10-24-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#678 VT models for 2022-10-24
  data-forecasts/VTSanghani-ExogModel/2022-10-24-VTSanghani-ExogModel.csv
  data-forecasts/VTSanghani-Transformer/2022-10-24-VTSanghani-Transformer.csv
Labels: data-submission, passed-validation

#682 oct 24 submission MIGHTE
  data-forecasts/MIGHTE-Nsemble/2022-10-24-MIGHTE-Nsemble.csv
  data-forecasts/MIGHTE-Nsemble/metadata-MIGHTE-Nsemble.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#683 oct 24 forecast upload again
  data-forecasts/UGA_flucast-OKeeffe/2022-10-24-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#681 Add first forecast and metadata file
  data-forecasts/UGuelph-FluPLUG/2022-10-24-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/metadata-UGuelph-FluPLUG.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#688 Create 2022-10-24-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-10-24-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#689 JUH IDD 2022-10-24 submission, fixed error with point estimates
  data-forecasts/JHU_IDD-CovidSP/2022-10-24-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/metadata-JHU_IDD-CovidSP.txt
Labels: data-submission, metadata-change, new-team-submission

#696 Create 2022-10-31-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-10-31-Flusight-baseline.csv
Labels: data-submission, passed-validation
