Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-11, with the labels that each got.

#712 Oct 31 forecast
  data-forecasts/UGuelph-FluPLUG/2022-10-31-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#711 10-31 prediction
  data-forecasts/MIGHTE-Nsemble/2022-10-31-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#709 national forecast 10/31
  data-forecasts/NIH-Flu_ARIMA/2022-10-31-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#708 First draft of ILI+Hosp model (10/31)
  data-forecasts/LUcompUncertLab-stacked_ili/2022-10-31-LUcompUncertLab-stacked_ili.csv
  data-forecasts/LUcompUncertLab-stacked_ili/metadata-LUcompUncertLab-stacked_ili.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#707 [CMU-TimeSeries] Add 2022-10-31 predictions
  data-forecasts/CMU-TimeSeries/2022-10-31-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#705 Hier Mech LU 10/31
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-10-31-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#704 Kalman LU 10/31
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-10-31-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#703 HWAR2 LU 10/31
  data-forecasts/LUcompUncertLab-HWAR2/2022-10-31-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#701 CADPH-FluCAT: forecast for 2022-10-31
  data-forecasts/CADPH-FluCAT_Ensemble/2022-10-31-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#700 Create 2022-10-30-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-10-31-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#699 ew43 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-10-31-GT-FluFNP.csv
Labels: data-submission, passed-validation

#698 UGA forecasts oct 31
  data-forecasts/UGA_flucast-OKeeffe/2022-10-31-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#697 SGroup-RandomForest submission for Oct 31st, 2022
  data-forecasts/SGroup-RandomForest/2022-10-31-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#693 2022-10-31 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-10-31-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#692 2022-10-31 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-10-31-SigSci-CREG.csv
Labels: data-submission, passed-validation

#691 mobs 2022-10-31
  data-forecasts/MOBS-GLEAM_FLUH/2022-10-31-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#690 Fix a typo
  data-truth/README.md
Labels: other-files-updated

#741 2022-11-07-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-11-07-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#740 Fixed file
  data-forecasts/UGuelph-FluPLUG/2022-11-07-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#738 hj
  data-forecasts/LUcompUncertLab-humanjudgment/2022-11-07-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#737 2022-11-07-VTSanghani models
  data-forecasts/VTSanghani-ExogModel/2022-11-07-VTSanghani-ExogModel.csv
  data-forecasts/VTSanghani-Transformer/2022-11-07-VTSanghani-Transformer.csv
Labels: data-submission, passed-validation

#736 NIH model 11/7/2022
  data-forecasts/NIH-Flu_ARIMA/2022-11-07-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#733 ensemble 11/7
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-11-07-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#732 forecast for 11-07
  data-forecasts/MIGHTE-Nsemble/2022-11-07-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#731 stacked ili
  data-forecasts/LUcompUncertLab-stacked_ili/2022-11-07-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#730 KF 11/7
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-11-07-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#728 CADPH-FluCAT Ensemble forecast for 2022-11-07
  data-forecasts/CADPH-FluCAT_Ensemble/2022-11-07-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#727 PSI-DICE weekly submission - 7 Nov 2022
  data-forecasts/PSI-DICE/2022-11-07-PSI-DICE.csv
Labels: data-submission, passed-validation

#724 ew44 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-11-07-GT-FluFNP.csv
Labels: data-submission, passed-validation

#723 Create 2022-11-07-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-11-07-CU-ensemble.csv
Labels: data-submission, passed-validation

#722 [CMU-TimeSeries] Add 2022-11-07 predictions
  data-forecasts/CMU-TimeSeries/2022-11-07-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#721 nov 7 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2022-11-07-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#719 Create 2022-11-07-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-11-07-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#718 2022-11-07 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-11-07-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#717 2022-11-07 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-11-07-SigSci-CREG.csv
Labels: data-submission, passed-validation

#715 SGroup-RandomForest submission for Nov 7th, 2022
  data-forecasts/SGroup-RandomForest/2022-11-07-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#726 CEPH Rtrend #001
  data-forecasts/CEPH-Rtrend_fluH/2022-11-07-CEPH-Rtrend_fluH.csv
  data-forecasts/CEPH-Rtrend_fluH/metadata-CEPH-Rtrend_fluH.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#725 First forecast
  data-forecasts/ISU_NiemiLab-Flu/2022-11-07-ISU_NiemiLab-Flu.csv
  data-forecasts/ISU_NiemiLab-Flu/metadata-ISU_NiemiLab-Flu.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#742 Create 2022-11-07-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-11-07-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#746 Create 2022-11-14-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-11-14-Flusight-baseline.csv
Labels: data-submission, passed-validation

#770 MIGHTE forecast 11-14
  data-forecasts/MIGHTE-Nsemble/2022-11-14-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#769 2022-11-14-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-11-14-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#768 NIH forecast model submission 11/14/2022
  data-forecasts/NIH-Flu_ARIMA/2022-11-14-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#767 Forecasts 11-14
  data-forecasts/ISU_NiemiLab-Flu/2022-11-14-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#766 SGroup-RandomForest submission for Nov 14th, 2022
  data-forecasts/SGroup-RandomForest/2022-11-14-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#765 VT models for 2022-11-14
  data-forecasts/VTSanghani-ExogModel/2022-11-14-VTSanghani-ExogModel.csv
  data-forecasts/VTSanghani-Transformer/2022-11-14-VTSanghani-Transformer.csv
Labels: data-submission, passed-validation

#764 Add 2022-11-14-CADPH FluCAT Ensemble
  data-forecasts/CADPH-FluCAT_Ensemble/2022-11-14-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#762 [CMU-TimeSeries] Add 2022-11-14 predictions
  data-forecasts/CMU-TimeSeries/2022-11-14-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#761 Create 2022-11-14-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-11-14-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#760 PSI-DICE weekly submission - 14 Nov 2022
  data-forecasts/PSI-DICE/2022-11-14-PSI-DICE.csv
Labels: data-submission, passed-validation

#759 Mech Model (11/14)
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-11-14-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#757 Ensemble (11/14)
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-11-14-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#755 Stacked ILI 11/14
  data-forecasts/LUcompUncertLab-stacked_ili/2022-11-14-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#754 Kalman Filt 11/14
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-11-14-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#753 HWAR2 11/14
  data-forecasts/LUcompUncertLab-HWAR2/2022-11-14-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#752 CEPH Rtrend #002
  data-forecasts/CEPH-Rtrend_fluH/2022-11-14-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#750 nov 14 preds
  data-forecasts/UGA_flucast-OKeeffe/2022-11-14-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#748 Create 2022-11-14-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-11-14-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#747 ew45 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-11-14-GT-FluFNP.csv
Labels: data-submission, passed-validation

#745 mobs 2022-11-14
  data-forecasts/MOBS-GLEAM_FLUH/2022-11-14-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#743 2022-11-14 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-11-14-SigSci-CREG.csv
Labels: data-submission, passed-validation

#751 Add UMass-trends_ensemble for 2022-11-14
  data-forecasts/UMass-trends_ensemble/2022-11-14-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/metadata-UMass-trends_ensemble.txt
Labels: data-submission, metadata-change, passed-validation

#773 Update update_truth.yml
  .github/workflows/update_truth.yml
Labels: other-files-updated

#774 Update GitHub workflow
  .github/workflows/update_truth.yml
  .github/workflows/validations.yml
Labels: other-files-updated

#772 Update metadata-VTSanghani-Transformer.txt
  data-forecasts/VTSanghani-Transformer/metadata-VTSanghani-Transformer.txt
Labels: metadata-change, passed-validation

#781 Create 2022-11-21-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-11-21-Flusight-baseline.csv
Labels: data-submission, passed-validation

#795 Update metadata-UVAFluX-Ensemble.txt
  data-forecasts/UVAFluX-Ensemble/metadata-UVAFluX-Ensemble.txt
Labels: metadata-change, passed-validation

#804 2022-11-21-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-11-21-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#803 MIGHTE forecast 11-21
  data-forecasts/MIGHTE-Nsemble/2022-11-21-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#802 HJ 11/21
  data-forecasts/LUcompUncertLab-humanjudgment/2022-11-21-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#801 ew46 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-11-21-GT-FluFNP.csv
Labels: data-submission, passed-validation

#800 NIH model 2022-11-21
  data-forecasts/NIH-Flu_ARIMA/2022-11-21-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#799 VT models for 2022-11-21
  data-forecasts/VTSanghani-ExogModel/2022-11-21-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#798 Forecasts from UNC IDD
  data-forecasts/UNC_IDD-InfluPaint/2022-11-21-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/metadata-UNC_IDD-InfluPaint.txt
Labels: data-submission, metadata-change, passed-validation

#797 Create 2022-11-21-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-11-21-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#796 [CMU-TimeSeries] Add 2022-11-21 predictions
  data-forecasts/CMU-TimeSeries/2022-11-21-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#794 Ensemble (11/21)
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-11-21-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#793 nov 21 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2022-11-21-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#792 Mech Model (11/21)
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-11-21-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#791 stacked ili
  data-forecasts/LUcompUncertLab-stacked_ili/2022-11-21-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#790 KalmanFilt
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-11-21-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#789 HWAR2
  data-forecasts/LUcompUncertLab-HWAR2/2022-11-21-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#788 PSI-DICE weekly submission - 21 Nov 2022
  data-forecasts/PSI-DICE/2022-11-21-PSI-DICE.csv
Labels: data-submission, passed-validation

#787 Add 2022-11-21-CADPH-FluCAT_Ensemble
  data-forecasts/CADPH-FluCAT_Ensemble/2022-11-21-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#786 CEPH Rtrend #003
  data-forecasts/CEPH-Rtrend_fluH/2022-11-21-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#785 SGroup-RandomForest submission for Nov 21st, 2022
  data-forecasts/SGroup-RandomForest/2022-11-21-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#784 Updated Columbia 11/21 file! (please ignore previous pull request)
  data-forecasts/CU-ensemble/2022-11-21-CU-ensemble.csv
Labels: data-submission, passed-validation

#782 Add UMass-trends_ensemble for 2022-11-21
  data-forecasts/UMass-trends_ensemble/2022-11-21-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#780 mobs 2022-11-21
  data-forecasts/MOBS-GLEAM_FLUH/2022-11-21-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#779 CEID-Walk
  data-forecasts/CEID-Walk/2022-11-21-CEID-Walk.csv
Labels: data-submission, passed-validation

#777 2022-11-21 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-11-21-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#776 Create 2022-11-21-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-11-21-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#775 Forecasts 11-21
  data-forecasts/ISU_NiemiLab-Flu/2022-11-21-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#832 2022-11-28-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-11-28-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#831 Forecasts 11-28
  data-forecasts/ISU_NiemiLab-Flu/2022-11-28-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#830 CEID-Walk
  data-forecasts/CEID-Walk/2022-11-28-CEID-Walk.csv
Labels: data-submission, passed-validation

#829 NIH model 2022-11-28
  data-forecasts/NIH-Flu_ARIMA/2022-11-28-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#826 2022-11-28-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2022-11-28-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#825 Add UMass-trends_ensemble for 2022-11-28
  data-forecasts/UMass-trends_ensemble/2022-11-28-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#824 submit MIGHTE 11-28
  data-forecasts/MIGHTE-Nsemble/2022-11-28-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#823 ew43 GT-FluFNP
  data-forecasts/GT-FluFNP/2022-11-28-GT-FluFNP.csv
Labels: data-submission, passed-validation

#822 PSI-DICE weekly submission - 28 Nov 2022
  data-forecasts/PSI-DICE/2022-11-28-PSI-DICE.csv
Labels: data-submission, passed-validation

#821 [CMU-TimeSeries] Add 2022-11-28 predictions
  data-forecasts/CMU-TimeSeries/2022-11-28-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#820 nov 28 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2022-11-28-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#819 Nov 28 forecast
  data-forecasts/UGuelph-FluPLUG/2022-11-28-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#818 Create 2022-11-28-CADPH_FluCAT_Ensemble forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2022-11-28-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#817 HJ 11/28
  data-forecasts/LUcompUncertLab-humanjudgment/2022-11-28-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#816 11/28 stacked ili
  data-forecasts/LUcompUncertLab-stacked_ili/2022-11-28-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#815 Kalman 11/28
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-11-28-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#814 HWAR2 11/28
  data-forecasts/LUcompUncertLab-HWAR2/2022-11-28-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#813 11/28 Hier Mech
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-11-28-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#812 CEPH Rtrend #004
  data-forecasts/CEPH-Rtrend_fluH/2022-11-28-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#811 week 48 predictions
  data-forecasts/CU-ensemble/2022-11-28-CU-ensemble.csv
Labels: data-submission, passed-validation

#809 Create 2022-11-28-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-11-28-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#808 mobs 2022-11-28
  data-forecasts/MOBS-GLEAM_FLUH/2022-11-28-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#807 2022-11-28 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-11-28-SigSci-CREG.csv
Labels: data-submission, passed-validation

#805 Add files via upload
  data-forecasts/SGroup-RandomForest/2022-11-28-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#828 expert judgment 11.28
  data-forecasts/LUcompUncertLab-experthuman/2022-11-28-LUcompUncertLab-experthuman.csv
  data-forecasts/LUcompUncertLab-experthuman/metadata-LUcompUncertLab-experthuman.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#833 Create 2022-11-28-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-11-28-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#834 Updated meta data to designate this model as other
  data-forecasts/LUcompUncertLab-experthuman/metadata-LUcompUncertLab-experthuman.txt
Labels: metadata-change, passed-validation
