Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-03, with the labels that each got.

#204 Create 2022-02-28-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-02-28-CU-ensemble.csv
Labels: data-submission, passed-validation

#205 SGroup-SIkJalpha Feb 28, 2022 submission
  data-forecasts/SGroup-SIkJalpha/2022-02-28-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#206 SGroup-RandomForest Feb 28, 2022 submission
  data-forecasts/SGroup-RandomForest/2022-02-28-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#207 2022-02-28 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-02-28-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#209 VAR2 upload
  data-forecasts/LUcompUncertLab-VAR2/2022-02-28-LUcompUncertLab-VAR2.csv
Labels: data-submission, passed-validation

#211 Upload VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-02-28-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#212 Upload HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2022-02-28-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#213 ew08 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-02-28-GT-FluFNP.csv
Labels: data-submission, passed-validation

#214 Upload VAR2K Plus covid
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-02-28-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#215 Update TEVA
  data-forecasts/LUcompUncertLab-TEVA/2022-02-28-LUcompUncertLab-TEVA.csv
Labels: data-submission, passed-validation

#218 Add files via upload
  data-forecasts/GH-Flusight/2022-02-28-GH-Flusight.csv
Labels: data-submission, passed-validation

#219 [CMU-TimeSeries] Add 2022-02-28 predictions
  data-forecasts/CMU-TimeSeries/2022-02-28-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#220 2022-02-28-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-02-28-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#221 2022-02-28-LosAlamos_NAU-CModel_Flu
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-02-28-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#222 forecast-2022-02-28
  data-forecasts/CEID-Walk/2022-02-28-CEID-Walk.csv
Labels: data-submission, passed-validation

#223 UT forecast for 2022-02-28
  data-forecasts/UT_FluCast-Voltaire/2022-02-28-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#225 mobs 0228
  data-forecasts/MOBS-GLEAM_FLUH/2022-02-28-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#226 2022-02-28-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-02-28-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#227 Create 2022-02-28-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-02-28-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#235 ew09 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-03-07-GT-FluFNP.csv
Labels: data-submission, passed-validation

#236 Create 2022-03-07-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-03-07-Flusight-baseline.csv
Labels: data-submission, passed-validation

#249 2022-03-07-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-03-07-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#247 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-03-07-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#245 mobs 0307
  data-forecasts/MOBS-GLEAM_FLUH/2022-03-07-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#243 VAR2K Plus
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-03-07-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#242 PSI-DICE weekly submission - 7 Mar 2022
  data-forecasts/PSI-DICE/2022-03-07-PSI-DICE.csv
Labels: data-submission, passed-validation

#241 VT predictions for 2022-03-07
  data-forecasts/VTSanghani-ExogModel/2022-03-07-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#240 UT submission for Mar 7
  data-forecasts/UT_FluCast-Voltaire/2022-03-07-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#239 2022-03-07-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-03-07-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#238 [CMU-TimeSeries] Add 2022-03-07 predictions
  data-forecasts/CMU-TimeSeries/2022-03-07-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#237 UMass-trends_ensemble 2022-03-07 submission
  data-forecasts/UMass-trends_ensemble/2022-03-07-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#233 2022-03-07 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-03-07-SigSci-CREG.csv
Labels: data-submission, passed-validation

#231 VAR2 Plus COVID
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-03-07-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#229 SGroup-SIkJalpha Submission March 7, 2022
  data-forecasts/SGroup-SIkJalpha/2022-03-07-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#228 SGroup-RandomForest March 7, 2022 submission
  data-forecasts/SGroup-RandomForest/2022-03-07-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#250 Create 2022-03-07-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-03-07-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#274 2022-03-14-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-03-14-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#273 Add files via upload
  data-forecasts/GH-Flusight/2022-03-14-GH-Flusight.csv
Labels: data-submission, passed-validation

#271 TEVA
  data-forecasts/LUcompUncertLab-TEVA/2022-03-14-LUcompUncertLab-TEVA.csv
Labels: data-submission, passed-validation

#270 ew10 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-03-14-GT-FluFNP.csv
Labels: data-submission, passed-validation

#267 Add VAR2K_Plus COVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-03-14-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#266 Add VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-03-14-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#265 VAR2_Plus COVID
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-03-14-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#264 [CMU-TimeSeries] Add 2022-03-14 predictions
  data-forecasts/CMU-TimeSeries/2022-03-14-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#260 Create 2022-03-14-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-03-14-CU-ensemble.csv
Labels: data-submission, passed-validation

#259 forecast-2022-03-14
  data-forecasts/CEID-Walk/2022-03-14-CEID-Walk.csv
Labels: data-submission, passed-validation

#257 2022-03-14-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-03-14-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#256 2022-03-14 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-03-14-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#255 2022-03-14 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-03-14-SigSci-CREG.csv
Labels: data-submission, passed-validation

#254 SGroup-RandomForest submission for Mar 14, 2022
  data-forecasts/SGroup-RandomForest/2022-03-14-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#253 SGroup-SIkJalpha submission for Mar 14, 2022
  data-forecasts/SGroup-SIkJalpha/2022-03-14-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#269 VAR2 retry
  data-forecasts/LUcompUncertLab-VAR2/2022-03-07-LUcompUncertLab-VAR2.csv
  data-forecasts/LUcompUncertLab-VAR2/2022-03-14-LUcompUncertLab-VAR2.csv
Labels: data-submission

#281 Create 2022-03-21-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-03-21-Flusight-baseline.csv
Labels: data-submission, passed-validation

#302 VT predictions for 2022-03-21
  data-forecasts/VTSanghani-ExogModel/2022-03-21-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#301 2022-03-21-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-03-21-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#300 mobs 0321
  data-forecasts/MOBS-GLEAM_FLUH/2022-03-21-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#299 forecast-2022-03-21
  data-forecasts/CEID-Walk/2022-03-21-CEID-Walk.csv
Labels: data-submission, passed-validation

#297 Update metadata to point to our forecast app
  data-forecasts/PSI-DICE/metadata-PSI-DICE.txt
Labels: metadata-change, passed-validation

#295 TEVA
  data-forecasts/LUcompUncertLab-TEVA/2022-03-21-LUcompUncertLab-TEVA.csv
Labels: data-submission, passed-validation

#293 VAR2k plus covid
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-03-21-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#292 UT forecasts for Mar 21
  data-forecasts/UT_FluCast-Voltaire/2022-03-21-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#291 VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-03-21-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#290 Hj v2
  data-forecasts/LUcompUncertLab-humanjudgment/2022-03-21-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#288 VAR2 plus covid
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-03-21-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#287 VAR 2 model
  data-forecasts/LUcompUncertLab-VAR2/2022-03-21-LUcompUncertLab-VAR2.csv
Labels: data-submission, passed-validation

#286 [CMU-TimeSeries] Add 2022-03-21 predictions
  data-forecasts/CMU-TimeSeries/2022-03-21-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#285 ew11 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-03-21-GT-FluFNP.csv
Labels: data-submission, passed-validation

#284 Create 2022-03-21-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-03-21-CU-ensemble.csv
Labels: data-submission, passed-validation

#283 2022-03-21-LosAlamos_NAU-CModel_Flu
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-03-21-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#280 2022-03-21 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-03-21-SigSci-CREG.csv
Labels: data-submission, passed-validation

#279 2022-03-21 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-03-21-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#278 SGroup-RandomForest submission Mar 20, 2022
  data-forecasts/SGroup-RandomForest/2022-03-21-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#277 SGroup-SIkJalpha submission Mar 20, 2022
  data-forecasts/SGroup-SIkJalpha/2022-03-21-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#308 Create 2022-03-28-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-03-28-Flusight-baseline.csv
Labels: data-submission, passed-validation

#327 Add files via upload
  data-forecasts/GH-Flusight/2022-03-28-GH-Flusight.csv
Labels: data-submission, passed-validation

#325 forecast-2022-03-28
  data-forecasts/CEID-Walk/2022-03-28-CEID-Walk.csv
Labels: data-submission, passed-validation

#324 mobs 0328
  data-forecasts/MOBS-GLEAM_FLUH/2022-03-28-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#323 VT predictions for 2022-03-28
  2022-03-28-VTSanghani-ExogModel.csv
Labels: other-files-updated

#322 2022-03-28-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-03-28-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#321 PSI-DICE weekly submission - 28 Mar 2022
  data-forecasts/PSI-DICE/2022-03-28-PSI-DICE.csv
Labels: data-submission, passed-validation

#320 TEVA
  data-forecasts/LUcompUncertLab-TEVA/2022-03-28-LUcompUncertLab-TEVA.csv
Labels: data-submission, passed-validation

#319 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2022-03-28-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#317 VAR2K_plusCOVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-03-28-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#316 VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-03-28-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#315 VAR2
  data-forecasts/LUcompUncertLab-VAR2/2022-03-28-LUcompUncertLab-VAR2.csv
Labels: data-submission, passed-validation

#313 Create 2022-03-28-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-03-28-CU-ensemble.csv
Labels: data-submission, passed-validation

#312 [CMU-TimeSeries] Add 2022-03-28 predictions
  data-forecasts/CMU-TimeSeries/2022-03-28-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#311 UT forecast for Mar 28
  data-forecasts/UT_FluCast-Voltaire/2022-03-28-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#309 ew12 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-03-28-GT-FluFNP.csv
Labels: data-submission, passed-validation

#307 2022-03-28 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-03-28-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#305 SGroup-SIkJalpha Forecasts for Mar 28, 2022
  data-forecasts/SGroup-SIkJalpha/2022-03-28-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation
