Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-04, with the labels that each got.

#333 Create 2022-04-04-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-04-04-Flusight-baseline.csv
Labels: data-submission, passed-validation

#350 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-04-04-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#348 2022-04-04-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-04-04-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#347 Add files via upload
  data-forecasts/GH-Flusight/2022-04-04-GH-Flusight.csv
Labels: data-submission, passed-validation

#346 VAR2K Plus COVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-04-04-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#340 PSI-DICE weekly submission - 4 Apr 2022
  data-forecasts/PSI-DICE/2022-04-04-PSI-DICE.csv
Labels: data-submission, passed-validation

#337 [CMU-TimeSeries] Add 2022-04-04 predictions
  data-forecasts/CMU-TimeSeries/2022-04-04-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#336 UT forecast for Apr 4
  data-forecasts/UT_FluCast-Voltaire/2022-04-04-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#331 2022-04-04 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-04-04-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#356 Create 2022-04-11-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-04-11-Flusight-baseline.csv
Labels: data-submission, passed-validation

#375 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-04-11-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#374 mobs 0411
  data-forecasts/MOBS-GLEAM_FLUH/2022-04-11-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#373 2022-04-11 UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-04-11-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#371 VAR2K Plus COVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-04-11-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#369 VAR2 Plus COVID
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-04-11-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#368 VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-04-11-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#365 ew14 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-04-11-GT-FluFNP.csv
Labels: data-submission, passed-validation

#364 VT predictions for 04-11-2022
  data-forecasts/VTSanghani-ExogModel/2022-04-11-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#361 UMass-trends_ensemble 2022-04-11 file
  data-forecasts/UMass-trends_ensemble/2022-04-11-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#359 [CMU-TimeSeries] Add 2022-04-11 predictions
  data-forecasts/CMU-TimeSeries/2022-04-11-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#358 UT forecast for Apr 11
  data-forecasts/UT_FluCast-Voltaire/2022-04-11-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#357 Create 2022-04-11-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-04-11-CU-ensemble.csv
Labels: data-submission, passed-validation

#355 2022-04-11 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-04-11-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#352 SGroup-SIkJalpha submission for April 11, 2022
  data-forecasts/SGroup-SIkJalpha/2022-04-11-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#353 SGroup-RandomForest submission for April 11, 2022
  data-forecasts/SGroup-RandomForest/2022-04-11-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#378 Create 2022-04-11-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-04-11-Flusight-baseline.csv
Labels: data-submission, passed-validation

#379 Create 2022-04-11-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-04-11-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#384 Create 2022-04-18-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-04-18-Flusight-baseline.csv
Labels: data-submission, passed-validation

#405 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-04-18-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#404 Add files via upload
  data-forecasts/GH-Flusight/2022-04-18-GH-Flusight.csv
Labels: data-submission, passed-validation

#403 mobs 0418
  data-forecasts/MOBS-GLEAM_FLUH/2022-04-18-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#402 2022-04-18-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-04-18-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#400 VT predictions for 04-18-2022
  data-forecasts/VTSanghani-ExogModel/2022-04-18-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#398 VAR2K Plus COVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-04-18-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#397 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2022-04-18-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#396 VAR2 Plus COVID
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-04-18-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#395 VAR2K
  data-forecasts/LUcompUncertLab-VAR2K/2022-04-18-LUcompUncertLab-VAR2K.csv
Labels: data-submission, passed-validation

#394 VAR2
  data-forecasts/LUcompUncertLab-VAR2/2022-04-18-LUcompUncertLab-VAR2.csv
Labels: data-submission, passed-validation

#393 april 18th forecasts - UT
  data-forecasts/UT_FluCast-Voltaire/2022-04-18-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#392 PSI-DICE weekly submission - 18 Apr 2022
  data-forecasts/PSI-DICE/2022-04-18-PSI-DICE.csv
Labels: data-submission, passed-validation

#391 ew15 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-04-18-GT-FluFNP.csv
Labels: data-submission, passed-validation

#390 forecast-2022-04-18
  data-forecasts/CEID-Walk/2022-04-18-CEID-Walk.csv
Labels: data-submission, passed-validation

#388 [CMU-TimeSeries] Add 2022-04-18 predictions
  data-forecasts/CMU-TimeSeries/2022-04-18-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#387 2022-04-18-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-04-18-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#385 Create 2022-04-18-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-04-18-CU-ensemble.csv
Labels: data-submission, passed-validation

#383 2022-04-18 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-04-18-SigSci-CREG.csv
Labels: data-submission, passed-validation

#382 2022-04-18 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-04-18-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#381 SGroup-RandomForest submission for April 18, 2022
  data-forecasts/SGroup-RandomForest/2022-04-18-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#380 SGroup-SIkJalpha submission for April 18, 2022
  data-forecasts/SGroup-SIkJalpha/2022-04-18-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#406 Create 2022-04-18-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-04-18-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#431 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-04-25-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#411 2022-04-25 forecasts for SigSci-TSENS
  data-forecasts/SigSci-CREG/metadata-SigSci-CREG.txt
  data-forecasts/SigSci-TSENS/2022-04-25-SigSci-TSENS.csv
  data-forecasts/SigSci-TSENS/metadata-SigSci-TSENS.txt
Labels: data-submission, metadata-change, passed-validation

#430 mobs 0425
  data-forecasts/MOBS-GLEAM_FLUH/2022-04-25-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#429 2022-04-25-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-04-25-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#426 updated with 25th forecasts
  data-forecasts/UT_FluCast-Voltaire/2022-04-25-UT_FluCast-Voltaire.csv
Labels: data-submission, passed-validation

#424 VAR2
  data-forecasts/LUcompUncertLab-VAR2/2022-04-25-LUcompUncertLab-VAR2.csv
Labels: data-submission, passed-validation

#423 VAR2 Plus COVID
  data-forecasts/LUcompUncertLab-VAR2_plusCOVID/2022-04-25-LUcompUncertLab-VAR2_plusCOVID.csv
Labels: data-submission, passed-validation

#421 VAR2K Plus COVID
  data-forecasts/LUcompUncertLab-VAR2K_plusCOVID/2022-04-25-LUcompUncertLab-VAR2K_plusCOVID.csv
Labels: data-submission, passed-validation

#419 PSI-DICE weekly submission - 25 Apr 2022
  data-forecasts/PSI-DICE/2022-04-25-PSI-DICE.csv
Labels: data-submission, passed-validation

#418 Create 2022-04-25-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-04-25-CU-ensemble.csv
Labels: data-submission, passed-validation

#417 [CMU-TimeSeries] Add 2022-04-25 predictions
  data-forecasts/CMU-TimeSeries/2022-04-25-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#416 forecast-2022-04-25
  data-forecasts/CEID-Walk/2022-04-25-CEID-Walk.csv
Labels: data-submission, passed-validation

#415 UMass-trends_ensemble 2022-04-25 submission
  data-forecasts/UMass-trends_ensemble/2022-04-25-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#414 ew16 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-04-25-GT-FluFNP.csv
Labels: data-submission, passed-validation

#413 Add files via upload
  data-forecasts/GH-Flusight/2022-04-25-GH-Flusight.csv
Labels: data-submission, passed-validation

#409 2022-04-25-IEM_Health-FluProject
  data-forecasts/IEM_Health-FluProject/2022-04-25-IEM_Health-FluProject.csv
Labels: data-submission, passed-validation

#408 Updated SGroup-RandomForest submission for April 25, 2022
  data-forecasts/SGroup-RandomForest/2022-04-25-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#407 SGroup-SIkJalpha submission for April 25, 2022
  data-forecasts/SGroup-SIkJalpha/2022-04-25-SGroup-SIkJalpha.csv
Labels: data-submission, passed-validation

#428 Add Umass-ARIMA
  data-forecasts/Umass-ARIMA/2022-04-25-Umass-ARIMA.csv
  data-forecasts/Umass-ARIMA/metadata-Umass-ARIMA.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation

#433 [FIXED] SGroup-RandomForest submission for April 25, 2022
  data-forecasts/SGroup-RandomForest/2022-04-25-SGroup-RandomForest.csv
Labels: data-submission, forecast-updated
