Repository cdcepi/Flusight-forecast-data, pull requests merged in 2022-12, with the labels that each got.

#842 Create 2022-12-05-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-12-05-Flusight-baseline.csv
Labels: data-submission, passed-validation

#839 mobs 2022-12-05
  data-forecasts/MOBS-GLEAM_FLUH/2022-12-05-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#864 2022-12-05-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2022-12-05-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#863 MIGHTE 12-05
  data-forecasts/MIGHTE-Nsemble/2022-12-05-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#862 NIH TS model 2022-12-05 submission
  data-forecasts/NIH-Flu_ARIMA/2022-12-05-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#861 rclp 12/05
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-12-05-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#860 Expert 12/05
  data-forecasts/LUcompUncertLab-experthuman/2022-12-05-LUcompUncertLab-experthuman.csv
Labels: data-submission, passed-validation

#859 HJ 12/05
  data-forecasts/LUcompUncertLab-humanjudgment/2022-12-05-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#858 hier comp model
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-12-05-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#856 Kalman lu
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-12-05-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#855 HWAR2
  data-forecasts/LUcompUncertLab-HWAR2/2022-12-05-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#854 SGroup-RandomForest submission for Dec 5th, 2022
  data-forecasts/SGroup-RandomForest/2022-12-05-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#853 Forecasts 12-05
  data-forecasts/ISU_NiemiLab-Flu/2022-12-05-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#852 Create 2022-12-05-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-12-05-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#850 Create 2022-12-05-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-12-05-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#848 UNC-IDD InfluPaint Forecast
  data-forecasts/UNC_IDD-InfluPaint/2022-12-05-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#847 dec 5 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2022-12-05-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#846 CEPH Rtrend #005
  data-forecasts/CEPH-Rtrend_fluH/2022-12-05-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#845 [CMU-TimeSeries] Add 2022-12-05 predictions
  data-forecasts/CMU-TimeSeries/2022-12-05-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#843 ew48 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-12-05-GT-FluFNP.csv
Labels: data-submission, passed-validation

#841 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-12-05-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#840 Add UMass-trends_ensemble for 2022-12-05
  data-forecasts/UMass-trends_ensemble/2022-12-05-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#838 2022-12-05 forecsts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-12-05-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#866 Create 2022-12-05-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-12-05-Flusight-ensemble.csv
Labels: data-submission, passed-validation

#875 Create 2022-12-12-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-12-12-Flusight-baseline.csv
Labels: data-submission, passed-validation

#903 2022-12-12-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-12-12-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#902 forecast-2022-12-12
  data-forecasts/CEID-Walk/2022-12-12-CEID-Walk.csv
Labels: data-submission, passed-validation

#901 2022-12-12-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2022-12-12-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#899 MIGHTE Nsemble 12/12
  data-forecasts/MIGHTE-Nsemble/2022-12-12-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#897 mobs 2022-12-12 new
  data-forecasts/MOBS-GLEAM_FLUH/2022-12-12-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#896 12/12 Expert
  data-forecasts/LUcompUncertLab-experthuman/2022-12-12-LUcompUncertLab-experthuman.csv
Labels: data-submission, passed-validation

#894 ensemble
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-12-12-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#893 stacked 12/12
  data-forecasts/LUcompUncertLab-stacked_ili/2022-12-12-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#892 HJ 12/12
  data-forecasts/LUcompUncertLab-humanjudgment/2022-12-12-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#891 Create 2022-12-12-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-12-12-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#890 SGroup-RandomForest submission for Dec 12th, 2022
  data-forecasts/SGroup-RandomForest/2022-12-12-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#889 2022-12-12-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2022-12-12-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#888 NIH TS model submission 12/12/2022
  data-forecasts/NIH-Flu_ARIMA/2022-12-12-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#887 Forecasts 12-12
  data-forecasts/ISU_NiemiLab-Flu/2022-12-12-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#885 mech model
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-12-12-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#884 Kalman
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-12-12-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#883 HWAR2
  data-forecasts/LUcompUncertLab-HWAR2/2022-12-12-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#882 Create 2022-12-12-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-12-12-CU-ensemble.csv
Labels: data-submission, passed-validation

#881 CEPH Rtrend #006
  data-forecasts/CEPH-Rtrend_fluH/2022-12-12-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#880 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-12-12-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#879 Added 2022-12-12 CADPH-FluCAT forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2022-12-12-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#878 [CMU-TimeSeries] Add 2022-12-12 predictions
  data-forecasts/CMU-TimeSeries/2022-12-12-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#873 dec 12 flu forecast
  data-forecasts/UGA_flucast-OKeeffe/2022-12-12-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#870 ew49 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-12-12-GT-FluFNP.csv
Labels: data-submission, passed-validation

#869 2022-12-12 forecasts for SigSci-CREG
  data-forecasts/SigSci-CREG/2022-12-12-SigSci-CREG.csv
Labels: data-submission, passed-validation

#868 2022-12-12 forecasts for SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-12-12-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#905 Update metadata-CU-ensemble.txt
  data-forecasts/CU-ensemble/metadata-CU-ensemble.txt
Labels: metadata-change, passed-validation

#886 Upload 2022-12-12 UMass-trends_ensemble experimental target
  data-experimental/UMass-trends_ensemble_exp_target/2022-12-12-UMass-trends_ensemble_exp_target.csv
Labels: other-files-updated

#871 2022-12-12 SigSci-TSENS experimental target forecasts
  data-experimental/SigSci-TSENS/2022-12-12-SigSci-TSENS.csv
Labels: other-files-updated

#906 mobs 2022-12-12 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2022-12-12-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#918 Create 2022-12-19-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-12-19-Flusight-baseline.csv
Labels: data-submission, passed-validation

#937 MIGHTE 12-19
  data-forecasts/MIGHTE-Nsemble/2022-12-19-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#940 [CMU-TimeSeries] Add 2022-12-19 predictions
  data-forecasts/CMU-TimeSeries/2022-12-19-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#936 HJ 12/19
  data-forecasts/LUcompUncertLab-humanjudgment/2022-12-19-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#935 expert 12/19
  data-forecasts/LUcompUncertLab-experthuman/2022-12-19-LUcompUncertLab-experthuman.csv
Labels: data-submission, passed-validation

#934 ew50 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-12-19-GT-FluFNP.csv
Labels: data-submission, passed-validation

#933 2022-12-19-UNC_IDD-InfluPaint
  data-forecasts/UNC_IDD-InfluPaint/2022-12-19-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#932 PSI-DICE weekly submission
  data-forecasts/PSI-DICE/2022-12-19-PSI-DICE.csv
Labels: data-submission, passed-validation

#931 NIH TS Model 12/19/2022 submission
  data-forecasts/NIH-Flu_ARIMA/2022-12-19-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#930 Create 2022-12-19-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-12-19-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#929 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-12-19-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#928 dec 19 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2022-12-19-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#927 CEPH #007
  data-forecasts/CEPH-Rtrend_fluH/2022-12-19-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#926 Create 2022-12-19-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2022-12-19-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#925 Add 2022-12-19 CADPH-FluCAT forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2022-12-19-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#924 forecasts 12-19
  data-forecasts/ISU_NiemiLab-Flu/2022-12-19-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#923 Comp mode 12/19
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-12-19-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#922 Kalman 12/19
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-12-19-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#921 HWAR2 (12/19)
  data-forecasts/LUcompUncertLab-HWAR2/2022-12-19-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#920 Ensemble (12/19)
  data-forecasts/LUcompUncertLab-ensemble_rclp/2022-12-19-LUcompUncertLab-ensemble_rclp.csv
Labels: data-submission, passed-validation

#919 Add UMass-trends_ensemble for 2022-12-19
  data-forecasts/UMass-trends_ensemble/2022-12-19-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#917 Create 2022-12-19-CU-ensemble.csv
  data-forecasts/CU-ensemble/2022-12-19-CU-ensemble.csv
Labels: data-submission, passed-validation

#915 mobs 2022-12-19
  data-forecasts/MOBS-GLEAM_FLUH/2022-12-19-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#912 2022-12-19-UMass-gbq
  data-forecasts/UMass-gbq/2022-12-19-UMass-gbq.csv
Labels: data-submission, passed-validation

#911 2022-12-19 SigSci-TSENS
  data-forecasts/SigSci-TSENS/2022-12-19-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#910 2022-12-19 SigSci-CREG
  data-forecasts/SigSci-CREG/2022-12-19-SigSci-CREG.csv
Labels: data-submission, passed-validation

#909 2022-12-19-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-12-19-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#908 SGroup-RandomForest submission for Dec 19th, 2022
  data-forecasts/SGroup-RandomForest/2022-12-19-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#907 rename model
  data-experimental/UMass-trends_ensemble/2022-12-12-UMass-trends_ensemble.csv
  data-experimental/UMass-trends_ensemble/2022-12-19-UMass-trends_ensemble.csv
Labels: other-files-updated

#916 mobs 2022-12-19 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2022-12-19-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#914 2022-12-19 SigSci-CREG experimental target forecasts
  data-experimental/SigSci-CREG/2022-12-19-SigSci-CREG.csv
Labels: other-files-updated

#913 2022-12-19 SigSci-TSENS experimental target forecasts
  data-experimental/SigSci-TSENS/2022-12-19-SigSci-TSENS.csv
Labels: other-files-updated

#957 Create 2022-12-26-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2022-12-26-Flusight-baseline.csv
Labels: data-submission, passed-validation

#969 Forecasts 12-26
  data-forecasts/ISU_NiemiLab-Flu/2022-12-26-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#967 2022-12-26-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2022-12-26-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#972 ew51 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2022-12-26-GT-FluFNP.csv
Labels: data-submission, passed-validation

#970 2022-12-26-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2022-12-26-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#971 MIGHTE Experimental 12/26 (includes prev two weeks which failed to merge last time)
  data-experimental/MIGHTE-activity/2022-12-12-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2022-12-19-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2022-12-26-MIGHTE-activity.csv
Labels: other-files-updated

#966 mighte 12/26 forecast
  data-forecasts/MIGHTE-Nsemble/2022-12-26-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#968 [CMU-TimeSeries] Add 2022-12-26 direction predictions
  data-experimental/CMU-TimeSeries/2022-12-26-CMU-TimeSeries.csv
  data-experimental/CMU-TimeSeries/metadata-CMU-TimeSeries.txt
Labels: other-files-updated

#965 Create 2022-12-26-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2022-12-26-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#964 HJ 12/26
  data-forecasts/LUcompUncertLab-humanjudgment/2022-12-26-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#963 comp model 12/26
  data-forecasts/LUcompUncertLab-hier_mech_model/2022-12-26-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#962 stacked ili 12/26
  data-forecasts/LUcompUncertLab-stacked_ili/2022-12-26-LUcompUncertLab-stacked_ili.csv
Labels: data-submission, passed-validation

#961 kf 12/26
  data-forecasts/LUcompUncertLab-KalmanFilter/2022-12-26-LUcompUncertLab-KalmanFilter.csv
Labels: data-submission, passed-validation

#960 hwar2 12/26
  data-forecasts/LUcompUncertLab-HWAR2/2022-12-26-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#958 PSI-DICE weekly submission - 27 Dec 2022
  data-forecasts/PSI-DICE/2022-12-26-PSI-DICE.csv
Labels: data-submission, passed-validation

#956 NIH TS model 2022-12-26 submission
  data-forecasts/NIH-Flu_ARIMA/2022-12-26-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#955 mobs 2022-12-26 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2022-12-26-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#954 mobs 2022-12-26
  data-forecasts/MOBS-GLEAM_FLUH/2022-12-26-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#953 Add 2023-01-02 CADPH-FluCAT_Ensemble Forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2022-12-26-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#952 forecast-2022-12-26
  data-forecasts/CEID-Walk/2022-12-26-CEID-Walk.csv
Labels: data-submission, passed-validation

#951 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2022-12-26-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#950 [CMU-TimeSeries] Add 2022-12-26 predictions
  data-forecasts/CMU-TimeSeries/2022-12-26-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#949 2022-12-26-UMass-trends_ensemble
  data-experimental/UMass-trends_ensemble/2022-12-26-UMass-trends_ensemble.csv
Labels: other-files-updated

#948 CEPH #008
  data-forecasts/CEPH-Rtrend_fluH/2022-12-26-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#947 2022-12-26 SigSci-CREG experimental target forecasts
  data-experimental/SigSci-CREG/2022-12-26-SigSci-CREG.csv
Labels: other-files-updated

#946 2022-12-26 SigSci-TSENS experimental target forecasts
  data-experimental/SigSci-TSENS/2022-12-26-SigSci-TSENS.csv
Labels: other-files-updated

#945 2022-12-26 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2022-12-26-SigSci-CREG.csv
Labels: data-submission, passed-validation

#944 2022-12-26 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2022-12-26-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#943 Add UMass-trends_ensemble for 2022-12-26
  data-forecasts/UMass-trends_ensemble/2022-12-26-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#942 2022-12-26-UMass-gbq
  data-forecasts/UMass-gbq/2022-12-26-UMass-gbq.csv
Labels: data-submission, passed-validation

#976 2022-12-26-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2022-12-26-UVAFluX-Ensemble.csv
Labels: data-submission

#977 Create 2022-12-26-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2022-12-26-Flusight-ensemble.csv
Labels: data-submission
