Repository cdcepi/Flusight-forecast-data, pull requests merged in 2023-03, with the labels that each got.

#1242 Add 2023-02-07 forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-02-27-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1267 update metadata
  data-forecasts/MOBS-GLEAM_FLUH/metadata-MOBS-GLEAM_FLUH.txt
Labels: metadata-change, passed-validation

#1266 2023-02-27-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-02-27-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1265 MIGHTE 2/27
  data-forecasts/MIGHTE-Nsemble/2023-02-27-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1263 2023-02-27-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-02-27-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1261 [CMU-TimeSeries] Add 2023-02-27 predictions
  data-forecasts/CMU-TimeSeries/2023-02-27-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1260 2023-02-27-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-02-27-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1258 PSI-DICE weekly submission - 28 Feb 2023
  data-forecasts/PSI-DICE/2023-02-27-PSI-DICE.csv
Labels: data-submission, passed-validation

#1254 2023-02-28 SigSci TSENS
  data-forecasts/SigSci-TSENS/2023-02-27-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1257 February 27 forecast
  data-forecasts/UGA_flucast-OKeeffe/2023-02-27-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1253 2023-02-28 SigSci CREG
  data-forecasts/SigSci-CREG/2023-02-27-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1251 Add 2023-02-27-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-02-27-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1250 week 61 forecast
  data-forecasts/CU-ensemble/2023-02-27-CU-ensemble.csv
Labels: data-submission, passed-validation

#1248 mobs 2023-02-27
  data-forecasts/MOBS-GLEAM_FLUH/2023-02-27-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1247 JHU_IDD-CovidSP 2023-02-27 forecast
  data-forecasts/JHU_IDD-CovidSP/2023-02-27-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1246 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-02-27-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1245 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2023-02-27-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1244 forecast-27-02-2023
  data-forecasts/CEID-Walk/2023-02-27-CEID-Walk.csv
Labels: data-submission, passed-validation

#1243 Forecasts 2-27
  data-forecasts/ISU_NiemiLab-Flu/2023-02-27-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1241 SGroup-RandomForest submission for Feb 27th, 2023
  data-forecasts/SGroup-RandomForest/2023-02-27-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1240 CEPH 017
  data-forecasts/CEPH-Rtrend_fluH/2023-02-27-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1239 ew202308 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-02-27-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1264 mighte 2/27 experimental
  data-experimental/MIGHTE-activity/2023-02-27-MIGHTE-activity.csv
Labels: other-files-updated

#1262 [CMU-TimeSeries] Add 2023-02-27 direction predictions
  data-experimental/CMU-TimeSeries/2023-02-27-CMU-TimeSeries.csv
Labels: other-files-updated

#1259 PSI-DICE categoric submission - 28 Feb 2023
  data-experimental/PSI-DICE/2023-02-27-PSI-DICE.csv
Labels: other-files-updated

#1256 2023-02-28 SigSci TSENS experimental
  data-experimental/SigSci-TSENS/2023-02-27-SigSci-TSENS.csv
Labels: other-files-updated

#1255 2023-02-28 SigSci CREG experimental
  data-experimental/SigSci-CREG/2023-02-27-SigSci-CREG.csv
Labels: other-files-updated

#1252 2023-02-27 UMass-trends_ensemble (exp)
  data-experimental/UMass-trends_ensemble/2023-02-27-UMass-trends_ensemble.csv
Labels: other-files-updated

#1249 mobs 2023-02-27 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-02-27-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1295 Create 2023-03-06-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-03-06-MIGHTE-activity.csv
Labels: other-files-updated

#1294 Create 2023-03-06-MIGHTE-Nsemble.csv
  data-experimental/MIGHTE-activity/2023-03-06-MIGHTE-Nsemble.csv
Labels: other-files-updated

#1293 [CMU-TimeSeries] Add 2023-03-06 direction predictions
  data-experimental/CMU-TimeSeries/2023-03-06-CMU-TimeSeries.csv
Labels: other-files-updated

#1290 PSI-DICE categoric submission - 07 Mar 2023
  data-experimental/PSI-DICE/2023-03-06-PSI-DICE.csv
Labels: other-files-updated

#1285 2023-03-06-UMass-trends_ensemble (Exp)
  data-experimental/UMass-trends_ensemble/2023-03-06-UMass-trends_ensemble.csv
Labels: other-files-updated

#1282 2023-03-06 SigSci TSENS experimental
  data-experimental/SigSci-TSENS/2023-03-06-SigSci-TSENS.csv
Labels: other-files-updated

#1281 2023-03-06 SigSci CREG experimental
  data-experimental/SigSci-CREG/2023-03-06-SigSci-CREG.csv
Labels: other-files-updated

#1275 mobs 2023-03-06 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-03-06-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1292 NIH TS Submission 2023-03-06
  data-forecasts/NIH-Flu_ARIMA/2023-03-06-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1291 [CMU-TimeSeries] Add 2023-03-06 predictions
  data-forecasts/CMU-TimeSeries/2023-03-06-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1289 PSI-DICE weekly submission - 07 Mar 2023
  data-forecasts/PSI-DICE/2023-03-06-PSI-DICE.csv
Labels: data-submission, passed-validation

#1286 2023-03-06-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-03-06-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1284 SGroup-RandomForest submission for March 7th, 2023
  data-forecasts/SGroup-RandomForest/2023-03-06-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1283 week 62 forecasts
  data-forecasts/CU-ensemble/2023-03-06-CU-ensemble.csv
Labels: data-submission, passed-validation

#1280 2023-03-06 SigSci TSENS
  data-forecasts/SigSci-TSENS/2023-03-06-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1279 2023-03-06 SigSci CREG
  data-forecasts/SigSci-CREG/2023-03-06-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1278 2023-03-06-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-03-06-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1276 Add 2023-03-06-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-03-06-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1274 mobs 2023-03-06
  data-forecasts/MOBS-GLEAM_FLUH/2023-03-06-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1273 CEPH 018
  data-forecasts/CEPH-Rtrend_fluH/2023-03-06-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1271 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-03-06-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1269 Adding forecast for 2023-03-06
  data-forecasts/CADPH-FluCAT_Ensemble/2023-03-06-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1268 ew202309 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-03-06-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1325 2023-03-13-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-03-13-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1322 2023-03-13-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-03-13-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1320 PSI-DICE weekly submission - 14 Mar 2023
  data-forecasts/PSI-DICE/2023-03-13-PSI-DICE.csv
Labels: data-submission, passed-validation

#1319 [CMU-TimeSeries] Add 2023-03-13 predictions
  data-forecasts/CMU-TimeSeries/2023-03-13-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1317 week 63 forecast
  data-forecasts/CU-ensemble/2023-03-13-CU-ensemble.csv
Labels: data-submission, passed-validation

#1316 CEPH 019
  data-forecasts/CEPH-Rtrend_fluH/2023-03-13-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1315 2023-03-13-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-03-13-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1313 forecast mighte 3/13
  data-forecasts/MIGHTE-Nsemble/2023-03-13-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1312 2023-03-13-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-03-13-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1306 2023-03-13 SigSci TSENS
  data-forecasts/SigSci-TSENS/2023-03-13-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1305 2023-03-13 SigSci CREG
  data-forecasts/SigSci-CREG/2023-03-13-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1301 forecast-2023-03-13
  data-forecasts/CEID-Walk/2023-03-13-CEID-Walk.csv
Labels: data-submission, passed-validation

#1300 Forecasts 3-13
  data-forecasts/ISU_NiemiLab-Flu/2023-03-13-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1299 Add 2023-03-13 CADPH-FluCAT forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-03-13-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1298 SGroup-RandomForest submission for March 13th, 2023
  data-forecasts/SGroup-RandomForest/2023-03-13-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1297 ew202310 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-03-13-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1296 Create 2023-03-13-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-03-13-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1326 expt-2023-03-13-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-03-13-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1321 PSI-DICE categoric submission - 14 Mar 2023
  data-experimental/PSI-DICE/2023-03-13-PSI-DICE.csv
Labels: other-files-updated

#1318 [CMU-TimeSeries] Add 2023-03-14 direction predictions
  data-experimental/CMU-TimeSeries/2023-03-13-CMU-TimeSeries.csv
Labels: other-files-updated

#1314 2023-03-13-UMass-trends_ensemble.csv
  data-experimental/UMass-trends_ensemble/2023-03-13-UMass-trends_ensemble.csv
Labels: other-files-updated

#1308 2023-03-13 SigSci TSENS exp
  data-experimental/SigSci-TSENS/2023-03-13-SigSci-TSENS.csv
Labels: other-files-updated

#1304 mobs 2023-03-13 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-03-13-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1356 2023-03-20-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-03-20-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1354 NIH TS Model 2023-03-20 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-03-20-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1352 forecasts 2023-03-20-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-03-20-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1351 mighte 3-20
  data-forecasts/MIGHTE-Nsemble/2023-03-20-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1349 [CMU-TimeSeries] Add 2023-03-20 predictions
  data-forecasts/CMU-TimeSeries/2023-03-20-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1348 2023-03-20-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-03-20-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1347 March 20 Forecast
  data-forecasts/UGA_flucast-OKeeffe/2023-03-20-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1346 PSI-DICE weekly submission - 21 Mar 2023
  data-forecasts/PSI-DICE/2023-03-20-PSI-DICE.csv
Labels: data-submission, passed-validation

#1340 2023-03-20 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-03-20-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1339 Create 2023-03-20-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-03-20-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1338 ew202311 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-03-20-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1336 Forecasts 3-20
  data-forecasts/ISU_NiemiLab-Flu/2023-03-20-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1335 Add CADPH-FluCAT forecast for 2023-03-20
  data-forecasts/CADPH-FluCAT_Ensemble/2023-03-20-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1334 Add 2023-03-20-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-03-20-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1332 mobs 2023-03-20
  data-forecasts/MOBS-GLEAM_FLUH/2023-03-20-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1330 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-03-20-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1355 Create 2023-03-20-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-03-20-MIGHTE-activity.csv
Labels: other-files-updated

#1353 expt 2023-03-20-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-03-20-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1350 [CMU-TimeSeries] Add 2023-03-20 direction predictions
  data-experimental/CMU-TimeSeries/2023-03-20-CMU-TimeSeries.csv
Labels: other-files-updated

#1343 2023-03-20 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-03-20-SigSci-CREG.csv
Labels: other-files-updated

#1342 2023-03-20 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-03-20-SigSci-TSENS.csv
Labels: other-files-updated

#1337 2023-03-20-UMass-trends_ensemble experimental
  data-experimental/UMass-trends_ensemble/2023-03-20-UMass-trends_ensemble.csv
Labels: other-files-updated

#1380 3-27 mighte main forecast
  data-forecasts/MIGHTE-Nsemble/2023-03-27-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1379 NIH TS Model 2023-03-27
  data-forecasts/NIH-Flu_ARIMA/2023-03-27-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1378 March 27 forecast
  data-forecasts/UGA_flucast-OKeeffe/2023-03-27-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1376 expt 2023-03-27-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-03-27-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1375 2023-03-27-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-03-27-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1373 PSI-DICE weekly submission - 28 Mar 2023
  data-forecasts/PSI-DICE/2023-03-27-PSI-DICE.csv
Labels: data-submission, passed-validation

#1371 [CMU-TimeSeries] Add 2023-03-27 predictions
  data-forecasts/CMU-TimeSeries/2023-03-27-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1369 JHU_IDD-CovidSP 2023-03-27
  data-forecasts/JHU_IDD-CovidSP/2023-03-27-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1366 2023-03-27 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-03-27-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1365 2023-03-27 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-03-27-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1360 mobs 2023-03-27
  data-forecasts/MOBS-GLEAM_FLUH/2023-03-27-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1359 SGroup-RandomForest submission for March 27th, 2023
  data-forecasts/SGroup-RandomForest/2023-03-27-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1358 ew202312 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-03-27-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1357 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-03-27-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1381 Create 2023-03-27-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-03-27-MIGHTE-activity.csv
Labels: other-files-updated

#1377 expt 2023-03-27-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-03-27-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1374 PSI-DICE categoric submission - 28 Mar 2023
  data-experimental/PSI-DICE/2023-03-27-PSI-DICE.csv
Labels: other-files-updated

#1368 2023-03-27 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-03-27-SigSci-CREG.csv
Labels: other-files-updated

#1367 2023-03-27 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-03-27-SigSci-TSENS.csv
Labels: other-files-updated

#1364 2023-03-27-UMass-trends_ensemble experimental
  data-experimental/UMass-trends_ensemble/2023-03-27-UMass-trends_ensemble.csv
Labels: other-files-updated

#1372 [CMU-TimeSeries] Add 2023-03-27 direction predictions
  data-experimental/CMU-TimeSeries/2023-03-27-CMU-TimeSeries.csv
Labels: other-files-updated

#1361 mobs 2023-03-27 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-03-27-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated
