Repository cdcepi/Flusight-forecast-data, pull requests merged in 2023-01, with the labels that each got.

#996 2023-01-02-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-01-02-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#994 mobs 2023-01-02
  data-forecasts/MOBS-GLEAM_FLUH/2023-01-02-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#992 NIH TS Model 2023-01-02 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-01-02-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#991 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-01-02-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#990 hj 01/02
  data-forecasts/LUcompUncertLab-humanjudgment/2023-01-02-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#988 Comp model 01/02
  data-forecasts/LUcompUncertLab-hier_mech_model/2023-01-02-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#987 HWAR2 01/02
  data-forecasts/LUcompUncertLab-HWAR2/2023-01-02-LUcompUncertLab-HWAR2.csv
Labels: data-submission, passed-validation

#986 jan 2 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2023-01-02-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#985 SGroup-RandomForest submission for Jan 2nd, 2023
  data-forecasts/SGroup-RandomForest/2023-01-02-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#984 CEPH 009
  data-forecasts/CEPH-Rtrend_fluH/2023-01-02-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#983 Add 2023-01-02-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-01-02-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#980 2023-01-02 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-01-02-SigSci-CREG.csv
Labels: data-submission, passed-validation

#979 2023-01-02 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-01-02-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#997 Add 2023-01-02 CADPH-FluCAT_Ensemble forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-01-02-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1007 2023-01-02-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-01-02-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1005 [MIGHTE] Add 2023-01-02 predictions
  data-forecasts/MIGHTE-Nsemble/2023-01-02-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1003 [CMU-TimeSeries] Add 2023-01-02 predictions
  data-forecasts/CMU-TimeSeries/2023-01-02-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1002 ew52 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-01-02-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1001 Forecasts 1-2
  data-forecasts/ISU_NiemiLab-Flu/2023-01-02-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1000 Jan 2 (actually 3) 2023 forecast
  data-forecasts/UGuelph-FluPLUG/2023-01-02-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#999 Create 2023-01-02-CU-ensemble.csv
  data-forecasts/CU-ensemble/2023-01-02-CU-ensemble.csv
Labels: data-submission, passed-validation

#1010 Create 2023-01-02-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2023-01-02-Flusight-ensemble.csv
Labels: data-submission

#1006 MIGHTE experimental 01-02
  data-experimental/MIGHTE-activity/2023-01-02-MIGHTE-activity.csv
Labels: other-files-updated

#1004 [CMU-TimeSeries] Add 2023-01-02 direction predictions
  data-experimental/CMU-TimeSeries/2023-01-02-CMU-TimeSeries.csv
Labels: other-files-updated

#995 mobs 2023-01-02 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-01-02-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#989 2023-01-02-UMass-trends_ensemble experimental
  data-experimental/UMass-trends_ensemble/2023-01-02-UMass-trends_ensemble.csv
Labels: other-files-updated

#982 2023-01-02 SigSci-CREG experimental target forecasts
  data-experimental/SigSci-CREG/2023-01-02-SigSci-CREG.csv
Labels: other-files-updated

#981 2023-01-02 SigSci-TSENS experimental target forecasts
  data-experimental/SigSci-TSENS/2023-01-02-SigSci-TSENS.csv
Labels: other-files-updated

#1011 PSI-DICE re-submit weekly forecasts
  data-forecasts/PSI-DICE/2023-01-02-PSI-DICE.csv
Labels: data-submission

#1009 2023-01-02-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-01-02-UNC_IDD-InfluPaint.csv
Labels: data-submission

#1012 PSI-DICE initial submission of experimental target (take 2)
  data-experimental/PSI-DICE/2023-01-02-PSI-DICE.csv
Labels: other-files-updated

#1037 Create 2023-01-09-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-01-09-MIGHTE-activity.csv
Labels: other-files-updated

#1033 [CMU-TimeSeries] Add 2023-01-09 direction predictions
  data-experimental/CMU-TimeSeries/2023-01-09-CMU-TimeSeries.csv
Labels: other-files-updated

#1032 PSI-DICE experimental target - 09 Jan 2023
  data-experimental/PSI-DICE/2023-01-09-PSI-DICE.csv
Labels: other-files-updated

#1023 UMass-trends-ensemble experimental
  data-experimental/UMass-trends_ensemble/2023-01-09-UMass-trends_ensemble.csv
Labels: other-files-updated

#1021 2023-01-09 SigSci-CREG experimental target forecasts
  data-experimental/SigSci-CREG/2023-01-09-SigSci-CREG.csv
Labels: other-files-updated

#1020 mobs 2023-01-09 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-01-09-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1016 2023-01-09 SigSci-TSENS experimental target forecasts
  data-experimental/SigSci-TSENS/2023-01-09-SigSci-TSENS.csv
Labels: other-files-updated

#1043 hj
  data-forecasts/LUcompUncertLab-humanjudgment/2023-01-09-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1042 01/09 comp model
  data-forecasts/LUcompUncertLab-hier_mech_model/2023-01-09-LUcompUncertLab-hier_mech_model.csv
  data-forecasts/LUcompUncertLab-hier_mech_model/metadata-LUcompUncertLab-hier_mech_model.txt
Labels: data-submission, metadata-change, passed-validation

#1041 Forecasts 1-9
  data-forecasts/ISU_NiemiLab-Flu/2023-01-09-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1039 ew01 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-01-09-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1038 2023-01-09-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-01-09-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1036 Create 2023-01-09-MIGHTE-Nsemble.csv
  data-forecasts/MIGHTE-Nsemble/2023-01-09-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1035 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-01-09-LosAlamos_NAU-CModel_Flu.csv
  data-forecasts/LosAlamos_NAU-CModel_Flu/metadata-LosAlamos_NAU-CModel_Flu.txt
Labels: data-submission, metadata-change, passed-validation

#1031 PSI-DICE weekly submission - 09 Jan 2023
  data-forecasts/PSI-DICE/2023-01-09-PSI-DICE.csv
Labels: data-submission, passed-validation

#1030 [CMU-TimeSeries] Add 2023-01-09 predictions
  data-forecasts/CMU-TimeSeries/2023-01-09-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1029 NIH TS Model 2023-01-09 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-01-09-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1028 Create 2023-01-09-CU-ensemble.csv
  data-forecasts/CU-ensemble/2023-01-09-CU-ensemble.csv
Labels: data-submission, passed-validation

#1027 CEPH 010
  data-forecasts/CEPH-Rtrend_fluH/2023-01-09-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1026 2023-01-09-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-01-09-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1025 jan 9 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2023-01-09-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1024 2023-01-09-UMass-gbq
  data-forecasts/UMass-gbq/2023-01-09-UMass-gbq.csv
Labels: data-submission, passed-validation

#1022 SGroup-RandomForest submission for Jan 9th, 2023
  data-forecasts/SGroup-RandomForest/2023-01-09-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1019 mobs 2023-01-09
  data-forecasts/MOBS-GLEAM_FLUH/2023-01-09-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1017 Add 2023-01-09-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-01-09-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1015 2023-01-09 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-01-09-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1014 2022-01-09 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-01-09-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1013 Forecast for 2023-01-09- CADPH-FluCAT-Ensemble
  data-forecasts/CADPH-FluCAT_Ensemble/2023-01-09-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1048 Create 2023-01-16-Flusight-baseline.csv
  data-forecasts/Flusight-baseline/2023-01-16-Flusight-baseline.csv
Labels: data-submission, passed-validation

#1077 2023-01-16-UVA-FluX
  data-forecasts/UVAFluX-Ensemble/2023-01-16-UVAFluX-Ensemble.csv
Labels: data-submission

#1076 ew202302 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-01-16-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1074 mighte 1/16
  data-forecasts/MIGHTE-Nsemble/2023-01-16-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1072 [CMU-TimeSeries] Add 2023-01-16 predictions
  data-forecasts/CMU-TimeSeries/2023-01-16-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1071 2023-01-16-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-01-16-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1070 jan 16 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2023-01-16-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1068 Create 2023-01-16-UGuelph-FluPLUG.csv
  data-forecasts/UGuelph-FluPLUG/2023-01-16-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#1067 NIH ARIMA model 2023-01-16 submission
  data-forecasts/NIH-Flu_ARIMA/2023-01-16-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1066 Add 2023-01-16-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-01-16-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1065 expert 1/16
  data-forecasts/LUcompUncertLab-experthuman/2023-01-16-LUcompUncertLab-experthuman.csv
Labels: data-submission, passed-validation

#1064 hj 1/16
  data-forecasts/LUcompUncertLab-humanjudgment/2023-01-16-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1063 New mech 2
  data-forecasts/LUcompUncertLab-hier_mech_model/2023-01-16-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#1061 mobs 2023-01-16
  data-forecasts/MOBS-GLEAM_FLUH/2023-01-16-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1060 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-01-16-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1059 2023-01-16-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-01-16-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1058 Forecasts 1-16
  data-forecasts/ISU_NiemiLab-Flu/2023-01-16-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1056 PSI-DICE weekly submission - 16 Jan 2023
  data-forecasts/PSI-DICE/2023-01-16-PSI-DICE.csv
Labels: data-submission, passed-validation

#1055 CDPH-FluCAT Forecast for 2023-01-16
  data-forecasts/CADPH-FluCAT_Ensemble/2023-01-16-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1054 SGroup-RandomForest submission for Jan 16th, 2023
  data-forecasts/SGroup-RandomForest/2023-01-16-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1051 2023-01-16 SigSci-CREG
  data-forecasts/SigSci-CREG/2023-01-16-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1050 2023-01-16 SigSci-TSENS
  data-forecasts/SigSci-TSENS/2023-01-16-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1049 Create 2023-01-16-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-01-16-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1047 2023-01-16-UMass-gbq
  data-forecasts/UMass-gbq/2023-01-16-UMass-gbq.csv
Labels: data-submission, passed-validation

#1046 CEPH 011
  data-forecasts/CEPH-Rtrend_fluH/2023-01-16-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1045 Create 2023-01-16-CU-ensemble.csv
  data-forecasts/CU-ensemble/2023-01-16-CU-ensemble.csv
Labels: data-submission, passed-validation

#1078 Create 2023-01-16-Flusight-ensemble.csv
  data-forecasts/Flusight-ensemble/2023-01-16-Flusight-ensemble.csv
Labels: data-submission

#1075 mighte experimental 1/16
  data-experimental/MIGHTE-activity/2023-01-16-MIGHTE-activity.csv
Labels: other-files-updated

#1069 2023-01-16 experimental UMass-trends_ensemble
  data-experimental/UMass-trends_ensemble/2023-01-16-UMass-trends_ensemble.csv
Labels: other-files-updated

#1062 mobs 2023-01-16 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-01-16-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1053 2023-01-16 SigSci-TSENS experimental
  data-experimental/SigSci-TSENS/2023-01-16-SigSci-TSENS.csv
Labels: other-files-updated

#1111 NIH TS Model 2023-01-23 submission
  data-forecasts/NIH-Flu_ARIMA/2023-01-23-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1110 2023-01-23-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-01-23-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1108 mighte nsemble 01/23
  data-forecasts/MIGHTE-Nsemble/2023-01-23-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1107 mech model 1/23
  data-forecasts/LUcompUncertLab-hier_mech_model/2023-01-23-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#1105 PSI-DICE weekly submission - 24 Jan 2023
  data-forecasts/PSI-DICE/2023-01-23-PSI-DICE.csv
Labels: data-submission, passed-validation

#1100 2023-01-23-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-01-23-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1098 2023-01-23 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-01-23-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1097 [CMU-TimeSeries] Add 2023-01-23 predictions
  data-forecasts/CMU-TimeSeries/2023-01-23-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1096 Jan 23/24 forecast
  data-forecasts/UGuelph-FluPLUG/2023-01-23-UGuelph-FluPLUG.csv
Labels: data-submission, passed-validation

#1095 SGroup-RandomForest submission for Jan 24th, 2023
  data-forecasts/SGroup-RandomForest/2023-01-23-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1093 jan 24 2023 submission
  data-forecasts/UGA_flucast-OKeeffe/2023-01-23-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1092 Add CADPH-FluCAT forecast for 2023-01-23
  data-forecasts/CADPH-FluCAT_Ensemble/2023-01-23-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1091 Add 2023-01-23-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-01-23-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1089 mobs 2023-01-23
  data-forecasts/MOBS-GLEAM_FLUH/2023-01-23-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1088 expert
  data-forecasts/LUcompUncertLab-experthuman/2023-01-23-LUcompUncertLab-experthuman.csv
Labels: data-submission, passed-validation

#1087 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2023-01-23-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1086 2023-01-23-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-01-23-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1084 Forecasts 1-23
  data-forecasts/ISU_NiemiLab-Flu/2023-01-23-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1083 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-01-23-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1082 Create 2023-01-23-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-01-23-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1080 2023-01-23-UMass-gbq.csv
  data-forecasts/UMass-gbq/2023-01-23-UMass-gbq.csv
Labels: data-submission, passed-validation

#1079 CEPH 012
  data-forecasts/CEPH-Rtrend_fluH/2023-01-23-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1109 mighte experimental 1/23
  data-experimental/MIGHTE-activity/2023-01-23-MIGHTE-activity.csv
Labels: other-files-updated

#1106 PSI-DICE categorical target - 24 Jan 2023
  data-experimental/PSI-DICE/2023-01-23-PSI-DICE.csv
Labels: other-files-updated

#1104 2023-01-23 experimental targets
  data-experimental/UMass-trends_ensemble/2023-01-23-UMass-trends_ensemble.csv
Labels: other-files-updated

#1101 [CMU-TimeSeries] Add 2023-01-23 direction predictions
  data-experimental/CMU-TimeSeries/2023-01-23-CMU-TimeSeries.csv
Labels: other-files-updated

#1090 mobs 2023-01-23 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-01-23-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated
