Repository cdcepi/Flusight-forecast-data, pull requests merged in 2023-02, with the labels that each got.

#1141 2023-01-30-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-01-30-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/2023-01-30-UVAFluX-Ensemble.csv
Labels: data-submission, other-files-updated

#1115 Add 2023-01-30 CADPH-FluCAT forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-01-30-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1140 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2023-01-30-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1137 mighte 1/30
  data-forecasts/MIGHTE-Nsemble/2023-01-30-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1135 PSI-DICE weekly submission - 31 Jan 2023
  data-forecasts/PSI-DICE/2023-01-30-PSI-DICE.csv
Labels: data-submission, passed-validation

#1134 mech model
  data-forecasts/LUcompUncertLab-hier_mech_model/2023-01-30-LUcompUncertLab-hier_mech_model.csv
Labels: data-submission, passed-validation

#1133 [CMU-TimeSeries] Add 2023-01-30 predictions
  data-forecasts/CMU-TimeSeries/2023-01-30-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1132 jan 30 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2023-01-30-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1129 2023-01-31 SigSci-CREG
  data-forecasts/SigSci-CREG/2023-01-30-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1128 2023-01-31 SigSci TSENS
  data-forecasts/SigSci-TSENS/2023-01-30-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1126 NIH Flu TS Model 2023-01-30 submission
  data-forecasts/NIH-Flu_ARIMA/2023-01-30-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1125 Create 2023-01-30-CU-ensemble.csv
  data-forecasts/CU-ensemble/2023-01-30-CU-ensemble.csv
Labels: data-submission, passed-validation

#1124 Add 2023-01-30-UMass-trends_ensemble
  data-forecasts/UMass-trends_ensemble/2023-01-30-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1122 mobs 2023-01-30
  data-forecasts/MOBS-GLEAM_FLUH/2023-01-30-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1121 Create 2023-01-30-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-01-30-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1120 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-01-30-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1119 Forecasts 1-30
  data-forecasts/ISU_NiemiLab-Flu/2023-01-30-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1118 2023-01-30-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-01-30-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1117 ew202304
  data-forecasts/GT-FluFNP/2023-01-30-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1116 forecast-2023-01-30
  data-forecasts/CEID-Walk/2023-01-30-CEID-Walk.csv
Labels: data-submission, passed-validation

#1114 CEPH 013
  data-forecasts/CEPH-Rtrend_fluH/2023-01-30-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1113 2023-01-30-UMass-gbq
  data-forecasts/UMass-gbq/2023-01-30-UMass-gbq.csv
Labels: data-submission, passed-validation

#1112 SGroup-RandomForest submission for Jan 30th, 2023
  data-forecasts/SGroup-RandomForest/2023-01-30-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1139 [CMU-TimeSeries] Add 2023-01-30 direction predictions
  data-experimental/CMU-TimeSeries/2023-01-30-CMU-TimeSeries.csv
Labels: other-files-updated

#1138 mighte mapping 1/30
  data-experimental/MIGHTE-activity/2023-01-30-MIGHTE-activity.csv
Labels: other-files-updated

#1136 PSI-DICE weekly submission - 31 Jan 2023
  data-experimental/PSI-DICE/2023-01-30-PSI-DICE.csv
Labels: other-files-updated

#1131 2023-01-31 SigSci-TSENS-exp
  data-experimental/SigSci-TSENS/2023-01-30-SigSci-TSENS.csv
Labels: other-files-updated

#1130 2023-01-31 SigSci-CREG-exp
  data-experimental/SigSci-CREG/2023-01-30-SigSci-CREG.csv
Labels: other-files-updated

#1127 2023-01-30-UMass-trends_ensemble exp. targets
  data-experimental/UMass-trends_ensemble/2023-01-30-UMass-trends_ensemble.csv
Labels: other-files-updated

#1123 mobs 2023-01-30 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-01-30-MOBS-GLEAM_FLUH.csv
  data-experimental/MOBS-GLEAM_FLUH/2023-02-06-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1146 CEPH 014
  data-forecasts/CEPH-Rtrend_fluH/2023-02-06-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1170 NIH TS Model 2023-02-06 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-02-06-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1167 2023-02-06-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-02-06-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1165 Feb 6 forecasts
  data-forecasts/UGA_flucast-OKeeffe/2023-02-06-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1164 [CMU-TimeSeries] Add 2023-02-06 predictions
  data-forecasts/CMU-TimeSeries/2023-02-06-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1162 PSI-DICE weekly submission - 07 Feb 2023
  data-forecasts/PSI-DICE/2023-02-06-PSI-DICE.csv
Labels: data-submission, passed-validation

#1161 mighte forecast 2/6
  data-forecasts/MIGHTE-Nsemble/2023-02-06-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1159 2023-02-06-UMass-gbq
  data-forecasts/UMass-gbq/2023-02-06-UMass-gbq.csv
Labels: data-submission, passed-validation

#1158 2023-02-06-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-02-06-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1157 week 58 predictions
  data-forecasts/CU-ensemble/2023-02-06-CU-ensemble.csv
Labels: data-submission, passed-validation

#1154 2023-02-07 SigSci-TSENS
  data-forecasts/SigSci-TSENS/2023-02-06-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1153 2023-02-07 SigSci-CREG
  data-forecasts/SigSci-CREG/2023-02-06-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1151 mobs 2023-02-06
  data-forecasts/MOBS-GLEAM_FLUH/2023-02-06-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1150 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-02-06-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1149 forecast-2023-02-06
  data-forecasts/CEID-Walk/2023-02-06-CEID-Walk.csv
Labels: data-submission, passed-validation

#1148 HJ
  data-forecasts/LUcompUncertLab-humanjudgment/2023-02-06-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1147 Forecasts 02/06
  data-forecasts/ISU_NiemiLab-Flu/2023-02-06-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1145 SGroup-RandomForest submission for Feb 6th, 2023
  data-forecasts/SGroup-RandomForest/2023-02-06-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1144 Add 2023-02-06 CADPH FluCAT forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-02-06-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1143 ew202305 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-02-06-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1169 Create 2023-02-06-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-02-06-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/metadata-JHU_IDD-CovidSP.txt
Labels: data-submission, metadata-change, passed-validation

#1168 Add 2023-02-06 direction predictions
  data-experimental/CMU-TimeSeries/2023-02-06-CMU-TimeSeries.csv
Labels: other-files-updated

#1166 Create 2023-02-06-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-02-06-MIGHTE-activity.csv
Labels: other-files-updated

#1163 PSI-DICE categoric target submission - 07 Feb 2023
  data-experimental/PSI-DICE/2023-02-06-PSI-DICE.csv
Labels: other-files-updated

#1160 2023-02-06-UMass-trends-ensemble (exp. target)
  data-experimental/UMass-trends_ensemble/2023-02-06-UMass-trends_ensemble.csv
Labels: other-files-updated

#1156 2023-02-07 SigSci-TSENS exp
  data-experimental/SigSci-TSENS/2023-02-06-SigSci-TSENS.csv
Labels: other-files-updated

#1155 2023-02-07 SigSci-CREG exp
  data-experimental/SigSci-CREG/2023-02-06-SigSci-CREG.csv
Labels: other-files-updated

#1206 mighte 2/13 forecast
  data-forecasts/MIGHTE-Nsemble/2023-02-13-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1201 [CMU-TimeSeries] Add 2023-02-13 predictions
  data-forecasts/CMU-TimeSeries/2023-02-13-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1197 PSI-DICE weekly submission - 14 Feb 2023
  data-forecasts/PSI-DICE/2023-02-13-PSI-DICE.csv
Labels: data-submission, passed-validation

#1196 Create 2023-02-13-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-02-13-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1195 Forecasts 2/13
  data-forecasts/ISU_NiemiLab-Flu/2023-02-13-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1193 NIH TS model 2023-02-13 submission
  data-forecasts/NIH-Flu_ARIMA/2023-02-13-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1192 week 59 forecasts
  data-forecasts/CU-ensemble/2023-02-13-CU-ensemble.csv
Labels: data-submission, passed-validation

#1191 Add 2023-02-13-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-02-13-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1188 2023-02-13 SigSci-TSENS
  data-forecasts/SigSci-TSENS/2023-02-13-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1187 2023-02-13 SigSci-CREG
  data-forecasts/SigSci-CREG/2023-02-13-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1185 mobs 2023-02-13
  data-forecasts/MOBS-GLEAM_FLUH/2023-02-13-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1184 hj
  data-forecasts/LUcompUncertLab-humanjudgment/2023-02-13-LUcompUncertLab-humanjudgment.csv
Labels: data-submission, passed-validation

#1181 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-02-13-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1180 forecast-2023-02-13
  data-forecasts/CEID-Walk/2023-02-13-CEID-Walk.csv
Labels: data-submission, passed-validation

#1177 Add CADPH-FluCAT Ensemble forecasts for 2023-02-13
  data-forecasts/CADPH-FluCAT_Ensemble/2023-02-13-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1175 SGroup-RandomForest submission for Feb 13th, 2023
  data-forecasts/SGroup-RandomForest/2023-02-13-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1174 CEPH 015
  data-forecasts/CEPH-Rtrend_fluH/2023-02-13-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1203 2023-02-13-UVAFluX-Ensemble forecasts
  data-experimental/UVAFluX-Ensemble/2023-02-13-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/2023-02-13-UVAFluX-Ensemble.csv
Labels: data-submission, other-files-updated

#1210 last week's files 2023-02-06-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-02-13-UVAFluX-Ensemble.csv
Labels: data-submission, file-deletion

#1211 expt prev 2023-02-06-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-02-06-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1212 Feb 06, 13 resubmission
  data-forecasts/UVAFluX-Ensemble/2023-02-06-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/2023-02-13-UVAFluX-Ensemble.csv
Labels: data-submission

#1207 Create 2023-02-13-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-02-13-MIGHTE-activity.csv
Labels: other-files-updated

#1202 [CMU-TimeSeries] Add 2023-02-13 direction predictions
  data-experimental/CMU-TimeSeries/2023-02-13-CMU-TimeSeries.csv
Labels: other-files-updated

#1198 PSI-DICE categoric submission - 14 Feb 2023
  data-experimental/PSI-DICE/2023-02-13-PSI-DICE.csv
Labels: other-files-updated

#1190 2023-02-13 SigSci-TSENS exp
  data-experimental/SigSci-TSENS/2023-02-13-SigSci-TSENS.csv
Labels: other-files-updated

#1189 2023-02-13 SigSci-CREG exp
  data-experimental/SigSci-CREG/2023-02-13-SigSci-CREG.csv
Labels: other-files-updated

#1186 mobs 2023-02-13 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-02-13-MOBS-GLEAM_FLUH.csv
  data-experimental/MOBS-GLEAM_FLUH/2023-02-20-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1238 UVA expt 2023-02-20
  data-experimental/UVAFluX-Ensemble/2023-02-20-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1236 PSI-DICE categoric submission - 21 Feb 2023
  data-experimental/PSI-DICE/2023-02-20-PSI-DICE.csv
Labels: other-files-updated

#1234 mighte experimental 2-20
  data-experimental/MIGHTE-activity/2023-02-20-MIGHTE-activity.csv
Labels: other-files-updated

#1228 [CMU-TimeSeries] Add 2023-02-20 direction predictions
  data-experimental/CMU-TimeSeries/2023-02-20-CMU-TimeSeries.csv
Labels: other-files-updated

#1226 2023-02-21 SigSci TSENS exp
  data-experimental/SigSci-TSENS/2023-02-20-SigSci-TSENS.csv
Labels: other-files-updated

#1225 2023-02-21 SigSci CREG exp
  data-experimental/SigSci-CREG/2023-02-20-SigSci-CREG.csv
Labels: other-files-updated

#1222 2023-02-20-Umass-trends_ensemble (exp)
  data-experimental/UMass-trends_ensemble/2023-02-20-UMass-trends_ensemble.csv
Labels: other-files-updated

#1237 Forecast files 2023-02-20-UVAFluX-Ensemble.csv
  data-forecasts/UVAFluX-Ensemble/2023-02-20-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1235 PSI-DICE weekly submission - 21 Feb 2023
  data-forecasts/PSI-DICE/2023-02-20-PSI-DICE.csv
Labels: data-submission, passed-validation

#1233 mighte forecast 2-20
  data-forecasts/MIGHTE-Nsemble/2023-02-20-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1232 2023-02-20-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-02-20-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1231 February 20 forecast
  data-forecasts/UGA_flucast-OKeeffe/2023-02-20-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1230 NIH TS Model Submission 2023-02-20
  data-forecasts/NIH-Flu_ARIMA/2023-02-20-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1227 [CMU-TimeSeries] Add 2023-02-20 predictions
  data-forecasts/CMU-TimeSeries/2023-02-20-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1224 2023-02-21 SigSci TSENS
  data-forecasts/SigSci-TSENS/2023-02-20-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1223 2023-02-21 SigSci CREG
  data-forecasts/SigSci-CREG/2023-02-20-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1221 week 60 forecasts
  data-forecasts/CU-ensemble/2023-02-20-CU-ensemble.csv
Labels: data-submission, passed-validation

#1220 mobs 2023-02-20
  data-forecasts/MOBS-GLEAM_FLUH/2023-02-20-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1219 Add 2023-02-20-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-02-20-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1217 Forecasts 2/20
  data-forecasts/ISU_NiemiLab-Flu/2023-02-20-ISU_NiemiLab-Flu.csv
Labels: data-submission, passed-validation

#1215 Add CADPH-FluCAT Ensemble forecasts for 2023-02-20
  data-forecasts/CADPH-FluCAT_Ensemble/2023-02-20-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1214 ew202307 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-02-20-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1213 create 2023-02-20-JHU_IDD-CovidSP.csv
  data-forecasts/JHU_IDD-CovidSP/2023-02-20-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation
