Repository cdcepi/Flusight-forecast-data, pull requests merged in 2023-04, with the labels that each got.

#1405 mighte 4-03
  data-forecasts/MIGHTE-Nsemble/2023-04-03-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1403 2023-04-03-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-04-03-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1400 [CMU-TimeSeries] Add 2023-04-03 predictions
  data-forecasts/CMU-TimeSeries/2023-04-03-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1398 PSI-DICE weekly submission - 04 Apr 2023
  data-forecasts/PSI-DICE/2023-04-03-PSI-DICE.csv
Labels: data-submission, passed-validation

#1397 2023-04-03-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-04-03-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1396 CEPH 2023-04-03
  data-forecasts/CEPH-Rtrend_fluH/2023-04-03-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1394 April 3rd
  data-forecasts/UGA_flucast-OKeeffe/2023-04-03-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1390 2023-04-03 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-04-03-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1389 2023-04-03 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-04-03-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1388 Add CADPH-FluCAT forecast for 2023-04-03
  data-forecasts/CADPH-FluCAT_Ensemble/2023-04-03-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1387 Add 2023-04-03-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-04-03-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1385 mobs 2023-04-03
  data-forecasts/MOBS-GLEAM_FLUH/2023-04-03-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1384 forecast-2023-04-03
  data-forecasts/CEID-Walk/2023-04-03-CEID-Walk.csv
Labels: data-submission, passed-validation

#1383 SGroup-RandomForest submission for April 3rd, 2023
  data-forecasts/SGroup-RandomForest/2023-04-03-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1382 ew202313 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-04-03-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1409 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-04-03-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission

#1408 2023-04-03-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-04-03-VTSanghani-ExogModel.csv
Labels: data-submission

#1406 Create 2023-04-03-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-04-03-MIGHTE-activity.csv
Labels: other-files-updated

#1404 expt 2023-04-03-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-04-03-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1401 [CMU-TimeSeries] Add 2023-04-03 direction predictions
  data-experimental/CMU-TimeSeries/2023-04-03-CMU-TimeSeries.csv
Labels: other-files-updated

#1399 PSI-DICE categorical submission - 04 Apr 2023
  data-experimental/PSI-DICE/2023-04-03-PSI-DICE.csv
Labels: other-files-updated

#1393 2023-04-03-UMass-trends_ensemble exp
  data-experimental/UMass-trends_ensemble/2023-04-03-UMass-trends_ensemble.csv
Labels: other-files-updated

#1392 2023-04-03 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-04-03-SigSci-CREG.csv
Labels: other-files-updated

#1391 2023-04-03 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-04-03-SigSci-TSENS.csv
Labels: other-files-updated

#1386 mobs 2023-04-03 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-04-03-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1438 Create 2023-04-10-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-04-10-MIGHTE-activity.csv
Labels: other-files-updated

#1417 [CMU-TimeSeries] Add 2023-04-10 direction predictions
  data-experimental/CMU-TimeSeries/2023-04-10-CMU-TimeSeries.csv
Labels: other-files-updated

#1414 mobs 2023-04-10 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-04-10-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1426 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-04-10-LosAlamos_NAU-CModel_Flu.csv
  data-forecasts/LosAlamos_NAU-CModel_Flu/metadata-LosAlamos_NAU-CModel_Flu.txt
Labels: data-submission, metadata-change, passed-validation

#1437 2023-04-10-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-04-10-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1433 2023-04-10-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-04-10-UVAFluX-Ensemble.csv
Labels: data-submission

#1436 mighte nsemble 4/10
  data-forecasts/MIGHTE-Nsemble/2023-04-10-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1435 2023-04-10-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-04-10-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1434 NIH TS Model 2023-04-10 submission
  data-forecasts/NIH-Flu_ARIMA/2023-04-10-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1430 PSI-DICE weekly submission
  data-forecasts/PSI-DICE/2023-04-10-PSI-DICE.csv
Labels: data-submission, passed-validation

#1429 2023-04-10 JHU_IDD-CovidSP submission
  data-forecasts/JHU_IDD-CovidSP/2023-04-10-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1428 April 10th forecast
  data-forecasts/UGA_flucast-OKeeffe/2023-04-10-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1427 CEPH 2023-04-10
  data-forecasts/CEPH-Rtrend_fluH/2023-04-10-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1421 2023-04-10 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-04-10-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1420 week 67 predictions
  data-forecasts/CU-ensemble/2023-04-10-CU-ensemble.csv
Labels: data-submission, passed-validation

#1419 Add forecast for CADPH-FluCAT for 2023-04-10
  data-forecasts/CADPH-FluCAT_Ensemble/2023-04-10-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1416 [CMU-TimeSeries] Add 2023-04-10 predictions
  data-forecasts/CMU-TimeSeries/2023-04-10-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1415 Add 2023-04-10-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-04-10-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1413 mobs 2023-04-10
  data-forecasts/MOBS-GLEAM_FLUH/2023-04-10-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1411 ew202314 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-04-10-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1440 SGroup-RandomForest submission for April 17th, 2023
  data-forecasts/SGroup-RandomForest/2023-04-17-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1465 mighte nsemble 4/17
  data-forecasts/MIGHTE-Nsemble/2023-04-17-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1464 April 18
  data-forecasts/UGA_flucast-OKeeffe/2023-04-17-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1462 2023-04-17-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-04-17-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1461 add 2023-04-16 JHU_IDD-CovidSP
  data-forecasts/JHU_IDD-CovidSP/2023-04-17-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1460 NIH TS Model 2023-04-17 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-04-17-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1457 CEPH 2023-04-17
  2023-04-17-CEPH-Rtrend_fluH.csv
  data-forecasts/CEPH-Rtrend_fluH/2023-04-17-CEPH-Rtrend_fluH.csv
Labels: data-submission, other-files-updated, passed-validation

#1455 PSI-DICE weekly submission - 18 Apr 2023
  data-forecasts/PSI-DICE/2023-04-17-PSI-DICE.csv
Labels: data-submission, passed-validation

#1454 2023-04-17-UNC_IDD-InfluPaint
  data-forecasts/UNC_IDD-InfluPaint/2023-04-17-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1452 [CMU-TimeSeries] Add 2023-04-17 predictions
  data-forecasts/CMU-TimeSeries/2023-04-17-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1451 Add CADPH FluCAT 2023-04-17 forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-04-17-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1447 2023-04-17 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-04-17-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1446 2023-04-17 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-04-17-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1445 Add 2023-04-17-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-04-17-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1444 week 68 forecast
  data-forecasts/CU-ensemble/2023-04-17-CU-ensemble.csv
Labels: data-submission, passed-validation

#1442 mobs 2023-04-17
  data-forecasts/MOBS-GLEAM_FLUH/2023-04-17-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1441 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-04-17-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1448 2023-04-17 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-04-17-SigSci-TSENS.csv
Labels: other-files-updated

#1449 2023-04-17 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-04-17-SigSci-CREG.csv
Labels: other-files-updated

#1450 2023-04-17-UMass-trends_ensemble
  data-experimental/UMass-trends_ensemble/2023-04-17-UMass-trends_ensemble.csv
Labels: other-files-updated

#1456 PSI-DICE categorical submission - 18 Apr 2023
  data-experimental/PSI-DICE/2023-04-17-PSI-DICE.csv
Labels: other-files-updated

#1458 Create 2023-04-17-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-04-17-MIGHTE-activity.csv
Labels: other-files-updated

#1463 expt-2023-04-17-UVAFluX
  data-experimental/UVAFluX-Ensemble/2023-04-17-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1489 [CMU-TimeSeries] Add 2023-04-24 direction predictions
  data-experimental/CMU-TimeSeries/2023-04-24-CMU-TimeSeries.csv
Labels: other-files-updated

#1487 PSI-DICE categorical target - 25 Apr 2023
  data-experimental/PSI-DICE/2023-04-24-PSI-DICE.csv
Labels: other-files-updated

#1479 2023-04-24-UMass-trends_ensemble exp target
  data-experimental/UMass-trends_ensemble/2023-04-24-UMass-trends_ensemble.csv
Labels: other-files-updated

#1476 2023-04-24 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-04-24-SigSci-CREG.csv
Labels: other-files-updated

#1475 2023-04-24 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-04-24-SigSci-TSENS.csv
Labels: other-files-updated

#1470 mobs 2023-04-24 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-04-24-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1467 Update metadata-CU-ensemble.txt
  data-forecasts/CU-ensemble/metadata-CU-ensemble.txt
Labels: metadata-change, passed-validation

#1492 2023-04-24-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-04-24-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1491 mighte nsemble 4/24
  data-forecasts/MIGHTE-Nsemble/2023-04-24-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1490 2023-04-24-UNC_IDD-InfluPaint
  data-forecasts/UNC_IDD-InfluPaint/2023-04-24-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1486 PSI-DICE weekly submission - 25 Apr 2023
  data-forecasts/PSI-DICE/2023-04-24-PSI-DICE.csv
Labels: data-submission, passed-validation

#1481 April 25th
  data-forecasts/UGA_flucast-OKeeffe/2023-04-24-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1480 NIH TS Model 2023-04-24 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-04-24-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1477 Add CADPH FluCAT forecast for 2023-04-25
  data-forecasts/CADPH-FluCAT_Ensemble/2023-04-24-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1473 2023-04-24 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-04-24-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1472 SGroup-RandomForest submission for April 24th, 2023
  data-forecasts/SGroup-RandomForest/2023-04-24-SGroup-RandomForest.csv
  data-forecasts/SGroup-RandomForest/metadata-SGroup-RandomForest.txt
Labels: data-submission, metadata-change, passed-validation

#1471 Add 2023-04-24-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-04-24-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1469 mobs 2023-04-24
  data-forecasts/MOBS-GLEAM_FLUH/2023-04-24-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1468 ew202316 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-04-24-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1482 week 69 forecast
  data-forecasts/CU-ensemble/2023-04-24-CU-ensemble.csv
  data-forecasts/CU-ensemble/metadata-CU-ensemble.txt
Labels: data-submission, metadata-change
