Repository cdcepi/Flusight-forecast-data, pull requests merged in 2023-05, with the labels that each got.

#1495 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-05-01-LosAlamos_NAU-CModel_Flu.csv
  data-forecasts/LosAlamos_NAU-CModel_Flu/metadata-LosAlamos_NAU-CModel_Flu.txt
Labels: data-submission, metadata-change, passed-validation

#1517 May 3rd
  data-forecasts/UGA_flucast-OKeeffe/2023-05-01-UGA_flucast-OKeeffe.csv
Labels: data-submission

#1515 mighte nsemble 5/1
  data-forecasts/MIGHTE-Nsemble/2023-05-01-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1513 PSI-DICE weekly submission - 02 May 2023
  data-forecasts/PSI-DICE/2023-05-01-PSI-DICE.csv
Labels: data-submission, passed-validation

#1511 [CMU-TimeSeries] Add 2023-05-01 predictions
  data-forecasts/CMU-TimeSeries/2023-05-01-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1510 2023-05-01-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-05-01-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1508 JHU_IDD-CovidSP 2023-05-01 submission
  data-forecasts/JHU_IDD-CovidSP/2023-05-01-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1507 CEPH_2023-05-01
  data-forecasts/CEPH-Rtrend_fluH/2023-05-01-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1504 2023-05-01 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-05-01-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1503 2023-05-01 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-05-01-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1502 Add CADPH-FluCAT forecast for 2023-05-01
  data-forecasts/CADPH-FluCAT_Ensemble/2023-05-01-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1499 week 70 forecast
  data-forecasts/CU-ensemble/2023-05-01-CU-ensemble.csv
Labels: data-submission, passed-validation

#1496 SGroup-RandomForest submission for May 1st, 2023
  data-forecasts/SGroup-RandomForest/2023-05-01-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1494 ew202317 GT-FluFNP submission
  data-forecasts/GT-FluFNP/2023-05-01-GT-FluFNP.csv
Labels: data-submission, passed-validation

#1537 NIH TS Model 2023-05-08 Submission
  data-forecasts/NIH-Flu_ARIMA/2023-05-08-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1535 2023-05-08-UNC_IDD-InfluPaint.csv
  data-forecasts/UNC_IDD-InfluPaint/2023-05-08-UNC_IDD-InfluPaint.csv
Labels: data-submission, passed-validation

#1533 [CMU-TimeSeries] Add 2023-05-08 predictions
  data-forecasts/CMU-TimeSeries/2023-05-08-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1532 mighte nsemble 5/8
  data-forecasts/MIGHTE-Nsemble/2023-05-08-MIGHTE-Nsemble.csv
Labels: data-submission, passed-validation

#1531 PSI-DICE weekly submission - 9 May 2023
  data-forecasts/PSI-DICE/2023-05-08-PSI-DICE.csv
Labels: data-submission, passed-validation

#1530 May 9th
  data-forecasts/UGA_flucast-OKeeffe/2023-05-08-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1529 2023-05-08 forecast JHU_IDD-CovidSP
  data-forecasts/JHU_IDD-CovidSP/2023-05-08-JHU_IDD-CovidSP.csv
Labels: data-submission, passed-validation

#1528 2023-05-08 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-05-08-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1527 2023-05-08 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-05-08-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1525 2023-05-08-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-05-08-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1523 SGroup-RandomForest submission for May 9th, 2023
  data-forecasts/SGroup-RandomForest/2023-05-08-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1521 Add 2023-05-08-UMass-trends_ensemble.csv
  data-forecasts/UMass-trends_ensemble/2023-05-08-UMass-trends_ensemble.csv
Labels: data-submission, passed-validation

#1520 mobs 2023-05-08
  data-forecasts/MOBS-GLEAM_FLUH/2023-05-08-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1519 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-05-08-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation

#1524 CEPH 2023-05-08
  2023-04-17-CEPH-Rtrend_fluH.csv
  data-forecasts/CEPH-Rtrend_fluH/2023-05-08-CEPH-Rtrend_fluH.csv
Labels: data-submission, other-files-updated

#1498 mobs 2023-05-01 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-05-01-MOBS-GLEAM_FLUH.csv
  data-experimental/MOBS-GLEAM_FLUH/2023-05-08-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1501 2023-05-01-UMass-trends_ensemble
  data-experimental/UMass-trends_ensemble/2023-05-01-UMass-trends_ensemble.csv
  data-experimental/UMass-trends_ensemble/2023-05-08-UMass-trends_ensemble.csv
Labels: other-files-updated

#1505 2023-05-01 SigSci-TSENS experimental forecasts
  data-experimental/SigSci-TSENS/2023-05-01-SigSci-TSENS.csv
  data-experimental/SigSci-TSENS/2023-05-08-SigSci-TSENS.csv
Labels: other-files-updated

#1506 2023-05-01 SigSci-CREG experimental forecasts
  data-experimental/SigSci-CREG/2023-05-01-SigSci-CREG.csv
  data-experimental/SigSci-CREG/2023-05-08-SigSci-CREG.csv
Labels: other-files-updated

#1534 [CMU-TimeSeries] Add 2023-05-08 direction predictions
  data-experimental/CMU-TimeSeries/2023-05-08-CMU-TimeSeries.csv
Labels: other-files-updated

#1526 2023-05-08-UVAFluX-Ensemble
  data-experimental/UVAFluX-Ensemble/2023-05-08-UVAFluX-Ensemble.csv
Labels: other-files-updated

#1512 [CMU-TimeSeries] Add 2023-05-01 direction predictions
  data-experimental/CMU-TimeSeries/2023-05-01-CMU-TimeSeries.csv
Labels: other-files-updated

#1514 PSI-DICE categorical target submission - 02 May 2023
  data-experimental/PSI-DICE/2023-05-01-PSI-DICE.csv
  data-experimental/PSI-DICE/2023-05-08-PSI-DICE.csv
Labels: other-files-updated

#1516 Create 2023-05-01-MIGHTE-activity.csv
  data-experimental/MIGHTE-activity/2023-05-01-MIGHTE-activity.csv
Labels: other-files-updated

#1563 PSI-DICE categorical targets - 16 May 2023
  data-experimental/PSI-DICE/2023-05-15-PSI-DICE.csv
Labels: other-files-updated

#1552 2023-05-15-UMass-trends_ensemble experimental
  data-experimental/UMass-trends_ensemble/2023-05-15-UMass-trends_ensemble.csv
Labels: other-files-updated

#1547 2023-05-15 SigSci-CREG categorical forecasts
  data-experimental/SigSci-CREG/2023-05-15-SigSci-CREG.csv
Labels: other-files-updated

#1546 2023-05-15 SigSci-TSENS categorical forecasts
  data-experimental/SigSci-TSENS/2023-05-15-SigSci-TSENS.csv
Labels: other-files-updated

#1541 mobs 2023-05-15 experimental targets
  data-experimental/MOBS-GLEAM_FLUH/2023-05-15-MOBS-GLEAM_FLUH.csv
Labels: other-files-updated

#1562 PSI-DICE weekly submission - 16 May 2023
  data-forecasts/PSI-DICE/2023-05-15-PSI-DICE.csv
Labels: data-submission

#1559 2023-05-15-UVAFluX-Ensemble
  data-forecasts/UVAFluX-Ensemble/2023-05-15-UVAFluX-Ensemble.csv
Labels: data-submission, passed-validation

#1558 April 14th
  data-forecasts/UGA_flucast-OKeeffe/2023-05-15-UGA_flucast-OKeeffe.csv
Labels: data-submission, passed-validation

#1557 2023-05-15-VTSanghani model
  data-forecasts/VTSanghani-ExogModel/2023-05-15-VTSanghani-ExogModel.csv
Labels: data-submission, passed-validation

#1555 NIH TS Model Submission 2023-05-15
  data-forecasts/NIH-Flu_ARIMA/2023-05-15-NIH-Flu_ARIMA.csv
Labels: data-submission, passed-validation

#1554 Add CADPH-FluCAT 2023-05-15 forecast
  data-forecasts/CADPH-FluCAT_Ensemble/2023-05-15-CADPH-FluCAT_Ensemble.csv
Labels: data-submission, passed-validation

#1553 CEPH 2023-05-15
  data-forecasts/CEPH-Rtrend_fluH/2023-05-15-CEPH-Rtrend_fluH.csv
Labels: data-submission, passed-validation

#1551 Create 2023-05-15-CU-ensemble.csv
  data-forecasts/CU-ensemble/2023-05-15-CU-ensemble.csv
Labels: data-submission, passed-validation

#1549 [CMU-TimeSeries] Add 2023-05-15 predictions
  data-forecasts/CMU-TimeSeries/2023-05-15-CMU-TimeSeries.csv
Labels: data-submission, passed-validation

#1545 2023-05-15 SigSci-CREG forecasts
  data-forecasts/SigSci-CREG/2023-05-15-SigSci-CREG.csv
Labels: data-submission, passed-validation

#1544 2023-05-15 SigSci-TSENS forecasts
  data-forecasts/SigSci-TSENS/2023-05-15-SigSci-TSENS.csv
Labels: data-submission, passed-validation

#1540 mobs 2023-05-15
  data-forecasts/MOBS-GLEAM_FLUH/2023-05-15-MOBS-GLEAM_FLUH.csv
Labels: data-submission, passed-validation

#1539 SGroup-RandomForest submission for May 15th, 2023
  data-forecasts/SGroup-RandomForest/2023-05-15-SGroup-RandomForest.csv
Labels: data-submission, passed-validation

#1538 Add files via upload
  data-forecasts/LosAlamos_NAU-CModel_Flu/2023-05-15-LosAlamos_NAU-CModel_Flu.csv
Labels: data-submission, passed-validation
